<section class="section-main comp-underpage-main {{ collection.metafields.custom_fields["category_type"] }}">
<div class="img_wrap" style="background-image: url('{% comment ls-rpl %}{{ collection.image | img_url: 'full', scale: 2 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: collection.image, img_url: 'full', scale: 2 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}');"></div>
<div class="txt_wrap">
<div class="txt_inner">
<div class="title_wrap"><span class="title_en">{{ collection.metafields.custom_fields["category_ttl_en"] }}</span>
<h1 class="title_ja">{{ collection.title }}</h1>
</div>
<div class="desc_wrap">
<h2 class="desc_ttl">{{ collection.metafields.custom_fields["category_ttl"] }}</h2>
<p class="desc">{{ collection.metafields.custom_fields["category_desc"] }}</p>
</div>
</div>
</div>
<!-- txt_wrap -->
</section>
<section class="section-feature">
  <div class="section_inner">
    <div class="comp-section-title center no_line">
      <span class="title_en"><ls-static-836960>FEATURES</ls-static-836960></span>
      <h2 class="title_ja"><ls-static-573043>商品の特徴</ls-static-573043></h2>
    </div>
    <div class="comp-pharaoh-feature">
      <div class="feature_item">
        <div class="flex_wrap">
          <div class="img_wrap">
            <img src="https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/pharaoh_img01_uy98nr.jpg">
          </div>
          <div class="txt_wrap">
            <div class="title_wrap">
              <span class="title_en"><ls-static-156193>POINT 1</ls-static-156193></span>
              <h2 class="title_ja"><ls-static-796275>飛んで曲がらない</ls-static-796275></h2>
            </div>
            <h3 class="sub_ttl">
              <span><ls-static-489773>柔らかく軽いシャフトなのに捻れない。</ls-static-489773></span>
              <span><ls-static-268416>まっすぐ飛ぶから、飛距離が伸びるクラブ。</ls-static-268416></span>
            </h3>
            <p class="txt_desc"><ls-static-421905>一般的に、柔らかいシャフトはしなるので飛距離が出やすくなりますが、同時に捻れが生じるため右方向へ打球が流れていく傾向があります。その分飛距離をロスすることとなります。ファラオのクラブは柔らかくしなるのに捻れない設計を実現。フェースの面のブレを抑えてミート率を格段に向上させます。</ls-static-421905></p>
          </div>
        </div>
        <!-- flex_wrap -->
        <div class="comp-toggle-pharaoh toggle01">
          <button class="q_button">
            <span class="title_en"><ls-static-481926>Qusestion?</ls-static-481926></span>
            <h4 class="title_ja"><ls-static-122319>「しなるのに、捻れない」を実現出来る理由とは？</ls-static-122319></h4>
          </button>
          <div class="toggle_contents wrap01">
            <div class="img_wrap">
              <img src="https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/pharaoh_img02_jz4flt.jpg">
            </div>
            <div class="txt_wrap">
              <div class="a_title">
                <span class="title_en">A.</span>
                <span class="title_ja"><ls-static-128848>匠の繊細な技術が、スピードとパワーを兼ね備えたクラブを実現しました。</ls-static-128848></span>
              </div>
              <div class="desc_txt">
                <p><ls-static-548156>ファラオはL～LL(レディース用)クラスのしなりにも関わらずロートルクに絞っています。弾性の違うシートを組み合わせるのは設計バランスが非常に難しい匠の技術。完成したシャフトはパワーを生み出すが曲がらない、ファラオの心臓部です。絶妙な設計とカーボンシートの巻き方が生み出す他社にないシャフトです。</ls-static-548156></p>
              </div>
            </div>
          </div><!-- toggle_contents -->
        </div><!-- comp-toggle-pharaoh -->
      </div><!-- feature_item -->
      <div class="feature_item">
        <div class="flex_wrap reverse">
          <div class="img_wrap">
            <img src="https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/pharaoh_img03_zhvapk.jpg">
          </div>
          <div class="txt_wrap">
            <div class="title_wrap">
              <span class="title_en"><ls-static-539492>POINT 2</ls-static-539492></span>
              <h2 class="title_ja"><ls-static-10312>初心者からプロまで誰でも簡単に振れる</ls-static-10312></h2>
            </div>
            <h3 class="sub_ttl">
              <span><ls-static-804269>日本人の体格に合わせた軽量モデル。</ls-static-804269></span>
              <span><ls-static-945345>シャフトがワンスペックで誰でも使える設計に。</ls-static-945345></span>
            </h3>
            <p class="txt_desc"><ls-static-347660>トルクを少なくすることにより、ヘッドスピードが遅い方も速い方もインパクトのミート率が良くなるため、プロから初心者・老若男女問わず誰にとっても扱いやすいクラブを作りました。</ls-static-347660></p>
          </div>
        </div>
        <!-- flex_wrap -->
        <div class="comp-toggle-pharaoh toggle02">
          <button class="q_button">
            <span class="title_en"><ls-static-473106>Qusestion?</ls-static-473106></span>
            <h4 class="title_ja"><ls-static-536666>そんなに軽いクラブで本当に大丈夫なの？</ls-static-536666></h4>
          </button>
          <div class="toggle_contents wrap02">
            <div class="img_wrap">
              <img src="https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/pharaoh_img04_rjyw4y.jpg">
            </div>
            <div class="txt_wrap">
              <div class="a_title">
                <span class="title_en">A.</span>
                <span class="title_ja"><ls-static-34524>プロとアマチュアでは体格、体力に大きな差があります。自分の体格にあったクラブ選びが重要です。</ls-static-34524></span>
              </div>
              <div class="desc_txt">
                <p><ls-static-996543>ハルスポーツでは、長年プロゴルファーのスイング解析、理想的なスイングの研究を続けてきました。 プロゴルファーのように遠心力を最大限に活かしたスイングが誰でも体感出来るようにクラブ選びは重要です。</ls-static-996543></p>
                <p><ls-static-164490>ファラオは日本人に合わせた軽量モデルで誰でも扱いやすく、ヘッドスピードが上がるので飛距離が出やすくなります。さらに効率的に遠心力を生み出すしなるシャフト、そのパワーを最大限に活かすためのインパクトをトルクを抑えることで実現しました。 </ls-static-164490></p>
                <p><ls-static-829538>初心者をはじめ多くのアマチュアゴルファーでも、自分の体格や体力に見合ったクラブを使用することで、プロのような理想的なスイングに近づくことができます。</ls-static-829538></p>
              </div>
            </div>
          </div><!-- toggle_contents -->
        </div><!-- comp-toggle-pharaoh -->
      </div><!-- feature_item -->
      <div class="feature_item">
        <div class="flex_wrap">
          <div class="img_wrap">
            <img src="https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/pharaoh_img05_vviwwe.jpg">
          </div>
          <div class="txt_wrap">
            <div class="title_wrap">
              <span class="title_en"><ls-static-717807>POINT 3</ls-static-717807></span>
              <h2 class="title_ja"><ls-static-531195>振るだけで美しいスイングが身につく</ls-static-531195></h2>
            </div>
            <h3 class="sub_ttl">
              <span><ls-static-962751>ヘッドの重みを感じながら、遠心力を効率的に活用したスイングが身につきます。</ls-static-962751></span>
            </h3>
            <p class="txt_desc"><ls-static-378444>シャフトのしなりが多いため、クラブのヘッドの重さを感じやすくなり、ダウンスイングへの切り返しのタイミングがわかりやすくなります。また繰り返し素振りや、ボールを打つことで、シャフトのしなりを活かせる安定したスイングが身につきます。</ls-static-378444></p>
          </div>
        </div>
        <!-- flex_wrap -->
        <div class="comp-toggle-pharaoh toggle03">
          <button class="q_button">
            <span class="title_en"><ls-static-945926>Qusestion?</ls-static-945926></span>
            <h4 class="title_ja"><ls-static-527180>美しいスイングはどのようにして生まれるのですか？</ls-static-527180></h4>
          </button>
          <div class="toggle_contents wrap03">
            <div class="img_wrap">
              <img src="https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/pharaoh/pharaoh_img06_ijzadk.jpg">
            </div>
            <div class="txt_wrap">
              <div class="a_title">
                <span class="title_en">A.</span>
                <span class="title_ja"><ls-static-751304>遠心力を効率的に伝える美しいスイングは、美しい姿勢から生まれます。</ls-static-751304></span>
              </div>
              <div class="desc_txt">
                <p><ls-static-737179>美しいスイングの実現のためには、まずプレイヤー自身が美しい姿勢を保つことが必要です。しかし私たちは日々の生活で姿勢を崩してしまう傾向にあります。ハルスポーツでは、基本姿勢の改善を実現しながらゴルフをはじめとするスポーツのスイング力強化や運動パフォーマンスを向上させることを目的としたグッズを研究・開発しております。</ls-static-737179></p>
              </div>
            </div>
          </div><!-- toggle_contents -->
        </div><!-- comp-toggle-pharaoh -->
      </div><!-- feature_item -->
    </div><!-- comp-pharaoh-feature -->
  </div><!-- section_inner -->
</section>
