<section class="section-main comp-underpage-main {{ collection.metafields.custom_fields["category_type"] }}">
<div class="img_wrap" style="background-image: url('{% comment ls-rpl %}{{ collection.image | img_url: 'full', scale: 2 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: collection.image, img_url: 'full', scale: 2 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}');"></div>
<div class="txt_wrap">
<div class="txt_inner">
<div class="title_wrap"><span class="title_en">{{ collection.metafields.custom_fields["category_ttl_en"] }}</span>
<h1 class="title_ja">{{ collection.title }}</h1>
</div>
<div class="desc_wrap">
<h2 class="desc_ttl">{{ collection.metafields.custom_fields["category_ttl"] }}</h2>
<p class="desc">{{ collection.metafields.custom_fields["category_desc"] }}</p>
</div>
</div>
</div>
<!-- txt_wrap -->
</section>
{% if collection.metafields.custom_fields["useage_title"] != blank %}
<section id="sectionFeature" class="section-feature">
<div class="section_inner">
<div class="comp-section-title center no_line"><span class="title_en"><ls-static-32530>FEATURES</ls-static-32530></span>
<h2 class="title_ja"><ls-static-630758>商品の特徴</ls-static-630758></h2>
</div>
{% if collection.metafields.custom_fields["useage_title"] != blank %}
<div class="comp-category-feature {{ collection.metafields.custom_fields["category_type"] }}">
<div class="feature_item">
<div class="desc_flex">
<div class="img_wrap">
{{ collection.metafields.custom_fields["useage_img"] }}
</div>
<div class="txt_wrap">
<div class="comp-decoration-title {{ collection.metafields.custom_fields["category_type"] }}">
{% if collection.metafields.custom_fields["category_type"] == 'fitness' %}
<span class="title_en"><ls-static-186122>HOW TO USE</ls-static-186122></span>
<h3 class="title_ja"><ls-static-272850>器具の使い方</ls-static-272850></h3>
{% else if collection.metafields.custom_fields["category_type"] == 'golf' %}
<span class="title_en"><ls-static-298206>POINT 01</ls-static-298206></span>
<h3 class="title_ja">{{ collection.metafields.custom_fields["point01_ttl"] }}</h3>
{% endif %}
</div>
<h4 class="sub_title">{{ collection.metafields.custom_fields["useage_title"] }}</h4>
<p class="desc">{{ collection.metafields.custom_fields["useage_txt"] }}</p>
</div>
</div>
{% if collection.metafields.custom_fields["category_type"] == 'fitness' %}
<div class="comp-toggle-contents">
<div class="toggle_item"><button class="red"><span>{{ collection.title }}<ls-static-877571>の使用法</ls-static-877571></span></button>
<div class="toggle_contents">
<div class="howto_use">
<div class="howto_left">
<div class="howto_item">
<div class="img_wrap"><img src="{{ collection.metafields.custom_fields["useage_detail_img01"] }}"></div>
<p class="desc">{{ collection.metafields.custom_fields["useage_detail_txt01"] }}</p>
</div>
<!-- howto_item -->
<div class="howto_item">
<div class="img_wrap"><img src="{{ collection.metafields.custom_fields["useage_detail_img02"] }}"></div>
<p class="desc">{{ collection.metafields.custom_fields["useage_detail_txt02"] }}</p>
</div>
<!-- howto_item --></div>
<div class="howto_right">
<div class="comp-decoration-title red"><span class="title_en"><ls-static-163926>POINTS</ls-static-163926></span>
<h3 class="title_ja"><ls-static-378430>運動のポイント</ls-static-378430></h3>
</div>
<div class="comp-suggest-list">
{% if collection.metafields.custom_fields["useage_method01"] != blank %}
<div class="suggest_item red"><span>{{ collection.metafields.custom_fields["useage_method01"] }}</span></div>
{% endif %}
{% if collection.metafields.custom_fields["useage_method02"] != blank %}
<div class="suggest_item red"><span>{{ collection.metafields.custom_fields["useage_method02"] }}</span></div>
{% endif %}
{% if collection.metafields.custom_fields["useage_method03"] != blank %}
<div class="suggest_item red"><span>{{ collection.metafields.custom_fields["useage_method03"] }}</span></div>
{% endif %}
{% if collection.metafields.custom_fields["useage_method04"] != blank %}
<div class="suggest_item red"><span>{{ collection.metafields.custom_fields["useage_method04"] }}</span></div>
{% endif %}
</div>
</div>
</div>
</div><!-- toggle_contents -->
</div><!-- toggle_item -->
</div><!-- comp-toggle-contents -->
{% endif %}
</div><!-- feature_item -->
{% endif %}


{% if collection.metafields.custom_fields["effect_ttl"] != blank %}
<div class="feature_item">
<div class="desc_flex reverse">
<div class="img_wrap">
{{ collection.metafields.custom_fields["effect_img"] }}
</div>
<div class="txt_wrap">
<div class="comp-decoration-title {{ collection.metafields.custom_fields["category_type"] }}">
{% if collection.metafields.custom_fields["category_type"] == 'fitness' %}
<span class="title_en"><ls-static-647125>EFFECTS</ls-static-647125></span>
<h3 class="title_ja"><ls-static-432980>効果・効能</ls-static-432980></h3>
{% else if collection.metafields.custom_fields["category_type"] == 'golf' %}
<span class="title_en"><ls-static-847596>POINT 02</ls-static-847596></span>
<h3 class="title_ja">{{ collection.metafields.custom_fields["point02_ttl"] }}</h3>
{% endif %}
</div>
<h4 class="sub_title">{{ collection.metafields.custom_fields["effect_ttl"] }}</h4>
<p class="desc">{{ collection.metafields.custom_fields["effect_txt"] }}</p>
</div>
</div>
{% if collection.metafields.custom_fields["category_type"] == 'fitness' %}
<div class="comp-toggle-contents">
<div class="toggle_item"><button class="yellow"><span>{{ collection.title }}<ls-static-559925>の効果・効能</ls-static-559925></span></button>
<div class="toggle_contents">
<div class="effect_list">
{% if collection.metafields.custom_fields["effect_detail_ttl01"] != blank %}
<div class="effect_item">
<h4 class="title">{{ collection.metafields.custom_fields["effect_detail_ttl01"] }}</h4>
<p class="desc">{{ collection.metafields.custom_fields["effect_detail_txt01"] }}</p>
</div>
{% endif %}
{% if collection.metafields.custom_fields["effect_detail_ttl02"] != blank %}
<div class="effect_item">
<h4 class="title">{{ collection.metafields.custom_fields["effect_detail_ttl02"] }}</h4>
<p class="desc">{{ collection.metafields.custom_fields["effect_detail_txt02"] }}</p>
</div>
{% endif %}
{% if collection.metafields.custom_fields["effect_detail_ttl03"] != blank %}
<div class="effect_item">
<h4 class="title">{{ collection.metafields.custom_fields["effect_detail_ttl03"] }}</h4>
<p class="desc">{{ collection.metafields.custom_fields["effect_detail_txt03"] }}</p>
</div>
{% endif %}
{% if collection.metafields.custom_fields["effect_detail_ttl04"] != blank %}
<div class="effect_item">
<h4 class="title">{{ collection.metafields.custom_fields["effect_detail_ttl04"] }}</h4>
<p class="desc">{{ collection.metafields.custom_fields["effect_detail_txt04"] }}</p>
</div>
{% endif %}
{% if collection.metafields.custom_fields["effect_detail_ttl05"] != blank %}
<div class="effect_item">
<h4 class="title">{{ collection.metafields.custom_fields["effect_detail_ttl05"] }}</h4>
<p class="desc">{{ collection.metafields.custom_fields["effect_detail_txt05"] }}</p>
</div>
{% endif %}
</div>
</div>
</div><!-- toggle_item -->
</div><!-- comp-toggle-contents -->
{% endif %}
</div><!-- feature_item -->
{% endif %}

{% if collection.metafields.custom_fields["halmethod_ttl"] != blank %}
<div class="feature_item">
<div class="desc_flex">
<div class="img_wrap">{{ collection.metafields.custom_fields["halmethod_img"] }}</div>
<div class="txt_wrap">
<div class="comp-decoration-title {{ collection.metafields.custom_fields["category_type"] }}">
{% if collection.metafields.custom_fields["category_type"] == 'fitness' %}
<span class="title_en"><ls-static-242827>HAL METHOD</ls-static-242827></span>
<h3 class="title_ja"><ls-static-818777>ハルメソッドに基づいた設計</ls-static-818777></h3>
{% else if collection.metafields.custom_fields["category_type"] == 'golf' %}
<span class="title_en"><ls-static-890162>POINT 03</ls-static-890162></span>
<h3 class="title_ja">{{ collection.metafields.custom_fields["point03_ttl"] }}</h3>
{% endif %}
</div> <!-- if collection.metafields.custom_fields["category_type"]  == 'fitness' -->
<h4 class="sub_title">{{ collection.metafields.custom_fields["halmethod_ttl"] }}</h4>
<p class="desc">{{ collection.metafields.custom_fields["halmethod_txt"] }}</p>
</div>
</div>
</div><!-- feature_item -->
</div><!-- comp-category-feature -->
{% endif %}
</div><!-- section_inner -->
</section>
{% endif %}
