{% if collection.metafields.custom_fields["faq_q1"] != blank %}
<section id="faqSection" class="section-faq comp-faq-section white_bg">
<div class="section_inner">
<div class="comp-section-title red no_line"><span class="title_en"><ls-static-538000>FAQ</ls-static-538000></span>
<h2 class="title_ja">{{ collection.title }}<ls-static-252412>に関するよくある質問</ls-static-252412></h2>
</div>
<div id="faqWrap" class="comp-qa">
{% if collection.metafields.custom_fields["faq_q1"] != blank %}
<div class="qa_item">
  <button class="qa_button"><span>{{ collection.metafields.custom_fields["faq_q1"] }}</span> </button>
  <div class="qa_contents">
    <p>{{ collection.metafields.custom_fields["faq_a1"] }}</p>
  </div>
</div>
{% endif %}
{% if collection.metafields.custom_fields["faq_q2"] != blank %}
<div class="qa_item">
  <button class="qa_button"><span>{{ collection.metafields.custom_fields["faq_q2"] }}</span> </button>
  <div class="qa_contents">
    <p>{{ collection.metafields.custom_fields["faq_a2"] }}</p>
  </div>
</div>
{% endif %}
{% if collection.metafields.custom_fields["faq_q3"] != blank %}
<div class="qa_item">
  <button class="qa_button"><span>{{ collection.metafields.custom_fields["faq_q3"] }}</span> </button>
  <div class="qa_contents">
    <p>{{ collection.metafields.custom_fields["faq_a3"] }}</p>
  </div>
</div>
{% endif %}
{% if collection.metafields.custom_fields["faq_q4"] != blank %}
<div class="qa_item">
  <button class="qa_button"><span>{{ collection.metafields.custom_fields["faq_q4"] }}</span> </button>
  <div class="qa_contents">
    <p>{{ collection.metafields.custom_fields["faq_a4"] }}</p>
  </div>
</div>
{% endif %}
{% if collection.metafields.custom_fields["faq_q5"] != blank %}
<div class="qa_item">
  <button class="qa_button"><span>{{ collection.metafields.custom_fields["faq_q5"] }}</span> </button>
  <div class="qa_contents">
    <p>{{ collection.metafields.custom_fields["faq_a5"] }}</p>
  </div>
</div>
{% endif %}
{% if collection.metafields.custom_fields["faq_q6"] != blank %}
<div class="qa_item">
  <button class="qa_button"><span>{{ collection.metafields.custom_fields["faq_q6"] }}</span> </button>
  <div class="qa_contents">
    <p>{{ collection.metafields.custom_fields["faq_a6"] }}</p>
  </div>
</div>
{% endif %}
{% if collection.metafields.custom_fields["faq_q7"] != blank %}
<div class="qa_item">
  <button class="qa_button"><span>{{ collection.metafields.custom_fields["faq_q7"] }}</span> </button>
  <div class="qa_contents">
    <p>{{ collection.metafields.custom_fields["faq_a7"] }}</p>
  </div>
</div>
{% endif %}
{% if collection.metafields.custom_fields["faq_q8"] != blank %}
<div class="qa_item">
  <button class="qa_button"><span>{{ collection.metafields.custom_fields["faq_q8"] }}</span> </button>
  <div class="qa_contents">
    <p>{{ collection.metafields.custom_fields["faq_a8"] }}</p>
  </div>
</div>
{% endif %}
{% if collection.metafields.custom_fields["faq_q9"] != blank %}
<div class="qa_item">
  <button class="qa_button"><span>{{ collection.metafields.custom_fields["faq_q9"] }}</span> </button>
  <div class="qa_contents">
    <p>{{ collection.metafields.custom_fields["faq_a9"] }}</p>
  </div>
</div>
{% endif %}
</div>
<!-- comp-qa -->
<p class="faq_desc"><ls-static-114488>※その他商品や配送などに関するFAQは</ls-static-114488><span><a href="/pages/guide"><ls-static-23274>こちら</ls-static-23274></a><ls-static-737968>をご参照ください。</ls-static-737968></span></p>
</div>
<!-- section_inner -->
</section>
{% endif %}
