{% form 'product', product %}
  <section class="section-main">
    <div class="section_inner">
      <div class="main_left">
        <div id="imgthumb" class="img_thumb">
          <div class="thumb_number">
            <span id="currentThumb" class="current">1</span>
            <span id="allThumb"></span>
          </div>
          <span id="slideNext" class="slide_caret slide_next"></span>
          <span id="slidePrev" class="slide_caret slide_prev"></span>
          <div class="thumb_wrap">
            <img id="thumbBox" src="{% comment ls-rpl %}{{ product.featured_image | img_url: 'full', scale: 2 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: product.featured_image, img_url: 'full', scale: 2 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}">
          </div>
          <div class="caption_wrap">
            <span id="caption" class="caption"></span>
            <span class="height_adjust"></span>
          </div>
        </div>
        <div id="thumbList" class="thumb_list">
        {% for image in product.images %}
          <span><img src="{% comment ls-rpl %}{{ image.src | img_url: 'full', scale: 2 }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image.src, img_url: 'full', scale: 2 -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: image.alt | escape }}"></span>
        {% endfor %}
        </div>
        <div id="relatedItemHeight" class="related_item_height"></div>
      </div>
      <!-- main_left -->
      <div class="main_right">
        <div class="title_wrap {{product.type}}">
          <div class="item_group">
            <div class="comp-page-bread">
              <a class="group_item home" href="/"><ls-static-852305>ホーム</ls-static-852305></a>
              {% if product.type == 'fitness' %}
              <a class="group_item bid" href="/collections/fitness"><ls-static-958363>フィットネス用品</ls-static-958363></a>
              {% else if product.type == 'golf' %}
              <a class="group_item bid" href="/collections/golf"><ls-static-467298>ゴルフグッズ</ls-static-467298></a>
              {% endif %}
              <a class="group_item sid" href="/collections/{{product.metafields.custom_fields["category_slug"]}}">{{product.metafields.custom_fields["category_name"]}}</a>
            </div>
          </div>
          <div class="item_basic_info {{ product.type }}">
            <span class="title_en">{{ product.metafields.custom_fields["category_en"] }}</span>
            <h1 class="item_name">{{ product.title }}</h1>
          </div>
        </div>
        <!-- title_wrap -->
        <div class="item_desc">
          <h2 class="desc_ttl {{product.type}}">{{ product.metafields.custom_fields["desc_ttl"] }}</h2>
          <p class="desc">{{ product.metafields.custom_fields["desc_txt"] }}</p>
        </div>
        <div class="comp-item-tag">
          {% for tag in product.tags %}
            <a class="tag_item" href="/collections/{% comment ls-rpl %}{{tag}}{% endcomment %}{%- capture LS_TAG -%}{%- render "ls-tag", tag: tag, resource: product -%}{%- endcapture -%}{{LS_TAG}}{% comment /ls-rpl %}{% endcomment %}">{% comment ls-rpl %}{{tag}}{% endcomment %}{%- capture LS_TAG -%}{%- render "ls-tag", tag: tag, resource: product -%}{%- endcapture -%}{{LS_TAG}}{% comment /ls-rpl %}{% endcomment %}</a>
          {% endfor %}
        </div>
        <div class="variaition">
          <div class="comp-line-title {{product.type}}">
            <h3 class="title_ja"><span><ls-static-855489>商品バリエーション</ls-static-855489></span></h3>
            <span class="title_en"><ls-static-770245>COLOR</ls-static-770245></span>
          </div>
          {% if product.metafields.custom_fields["option_display"] == 'custom' %}
            {{ product.metafields.custom_fields["custom_option_html"] }}
          {% endif %}
          {% if product.metafields.custom_fields["option_display"] == 'custom' %}
          <!-- カスタム仕様のオプション表示 -->
          <div id="variationInput" class="comp-item-variation">
          <!-- デフォルトのオプション表示 -->
          {% if product.metafields.custom_fields["option2_name"] != blank %}
            <h4 class="comp-variation-ttl">{{ product.metafields.custom_fields["option2_name"] }}</h4>
          {% endif %}
          {% for variant in product.variants %}
          <div class="variation_item">
            <input id="label-{{ variant.id }}" type="radio" prop="{{ variant.price | money }}" name="brand_option" value="{{ variant.id }}" {%- if variant == current_variant %} selected="selected" {%- endif -%}>
            <label for="label-{{ variant.id }}" class="{%- if variant.available == false %}soldout{% else %}onsale{% endif %}">
              {%- if variant.image.src != blank %}
              <span class="img_wrap"><img src="//cdn.shopify.com/s/files/1/0436/9216/3225/{{ variant.image.src }}"></span>
              {% else %}
              <span class="img_wrap"><img src="https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/itemDetail/no_img_omwfwj.jpg"></span>
              {% endif %}
              <span class="input_wrap">
                <span class="name">{{ variant.title }}</span>
              </span>
            </label>
          </div>
          {% endfor %}
          {% else %}
          <div id="variationInput" class="comp-item-variation">
          <!-- デフォルトのオプション表示 -->
          {% for variant in product.variants %}
          <div class="variation_item">
            <input id="label-{{ variant.id }}" type="radio" prop="{{ variant.price | money }}" name="brand_option" value="{{ variant.id }}" {%- if variant == current_variant %} selected="selected" {%- endif -%}>
            <label for="label-{{ variant.id }}" class="{%- if variant.available == false %}soldout{% else %}onsale{% endif %}">
              {%- if variant.image.src != blank %}
              <span class="img_wrap"><img src="//cdn.shopify.com/s/files/1/0436/9216/3225/{{ variant.image.src }}"></span>
              {% else %}
              <span class="img_wrap"><img src="https://res.cloudinary.com/halsports/image/upload/f_auto,q_auto/v1597077182/itemDetail/no_img_omwfwj.jpg"></span>
              {% endif %}
              <span class="input_wrap">
                <span class="name">{{ variant.title }}</span>
              </span>
            </label>
          </div>
          {% endfor %}
          {% endif %}
          <select id="hiddenSelect" class="hidden_select" name="id">
          {% for variant in product.variants %}
          {% if variant.available == true %}
          <option value="{{variant.id}}"> {{ variant.title }} <ls-static-736601>for</ls-static-736601> {{ variant.price | money_with_currency }}</option>
          {% else %}
          <option disabled="disabled"> {{ variant.title }} <ls-static-973829>- sold out!</ls-static-973829></option>
          {% endif %}
          {% endfor %}
          </select>
          </div>
        </div>
      </div>
      <!-- main_right -->
    </div>
    <!-- section_inner -->
  </section>
  <section class="section-detail">
    <div class="section_inner">
      <div class="detail_right">
        <div class="cart_wrap">
          <div class="cart_flex">
            <div class="var_input">
              <span class="title"><ls-static-177994>個数</ls-static-177994></span>
              <input type="text" id="quantity" name="quantity" value="1" min="1"  class="product-form__input product-form__input--quantity" data-quantity-input
              >
            </div>
            <span id="priceDisplay" class="price">{{ product.price | money }}<ls-static-507534>(税抜)</ls-static-507534></span>
          </div>
          <!-- cart_flex -->
          <div class="cart_button">
          {%- if product.available -%}
          <div class="var_button">
            <button type="submit" class="cart_button"><span><ls-static-127090>カートに入れる</ls-static-127090></span></button>
            <input class="product_cart_btn product_addcart_btn" type="submit" value="カートに入れる">
          </div>
          {%- else -%}
          <span class="out_of_stock"><ls-static-3567>在庫切れ</ls-static-3567></span>
          {%- endif -%}
          </div><!-- cart_button -->
        </div><!-- cart_wrap -->
        {% if product.metafields.custom_fields["chart_number01"] != blank %}
        <div class="features_wrap">
          <div class="comp-line-title {{product.type}}">
            <h3 class="title_ja"><span><ls-static-152348>商品の特徴</ls-static-152348></span></h3>
            <span class="title_en"><ls-static-498221>FEATURES</ls-static-498221></span>
          </div>
            {% if product.metafields.custom_fields["related_movie01"] != blank %}
          <div class="product_movie_wrap">
            <div class="wrap_inner">
            {{ product.metafields.custom_fields["related_movie01"] }}
          </div>
            {% if product.metafields.custom_fields["related_movie02"] != blank %}
          <div class="wrap_inner">
          {{ product.metafields.custom_fields["related_movie02"] }}
        </div>
        {% endif %}
          </div>
        {% endif %}
          <div class="comp-features-chart">
          {% if product.metafields.custom_fields["feature_desc_txt"] != blank %}
            <p class="desc">{{ product.metafields.custom_fields["feature_desc_txt"] }}</p>
          {% endif %}
          {% if product.metafields.custom_fields["featured_ttl01"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["featured_ttl01"] }}</span>
              <div class="chart number{{ product.metafields.custom_fields["chart_number01"] }}" style="background-image: url(https://namaste-hk10p.ssl-lolipop.jp/halsports/assets/img/itemDetail/chart{{ product.metafields.custom_fields["chart_number01"] }}.png)"></div>
            </div>
          {% endif %}
          {% if product.metafields.custom_fields["featured_ttl02"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["featured_ttl02"] }}</span>
              <div class="chart number{{ product.metafields.custom_fields["chart_number02"] }}" style="background-image: url(https://namaste-hk10p.ssl-lolipop.jp/halsports/assets/img/itemDetail/chart{{ product.metafields.custom_fields["chart_number02"] }}.png)"></div>
            </div>
          {% endif %}
          {% if product.metafields.custom_fields["featured_ttl03"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["featured_ttl03"] }}</span>
              <div class="chart number{{ product.metafields.custom_fields["chart_number03"] }}" style="background-image: url(https://namaste-hk10p.ssl-lolipop.jp/halsports/assets/img/itemDetail/chart{{ product.metafields.custom_fields["chart_number03"] }}.png)"></div>
            </div>
          {% endif %}
          {% if product.metafields.custom_fields["featured_ttl04"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["featured_ttl04"] }}</span>
              <div class="chart number{{ product.metafields.custom_fields["chart_number04"] }}" style="background-image: url(https://namaste-hk10p.ssl-lolipop.jp/halsports/assets/img/itemDetail/chart{{ product.metafields.custom_fields["chart_number04"] }}.png)"></div>
            </div>
          {% endif %}
          </div>
          <!-- comp-features-chart -->
          {% if product.metafields.custom_fields["recommend01"] != blank %}
          <div class="suggest">
            <div class="comp-suggest-list {{product.type}}">
              <h3 class="suggest_title"><ls-static-67278>下記に該当するかたにオススメです!</ls-static-67278></h3>
              {% if product.metafields.custom_fields["recommend01"] != blank %}
              <div class="suggest_item">
                <span>{{ product.metafields.custom_fields["recommend01"] }}</span>
              </div>
              {% endif %}
              {% if product.metafields.custom_fields["recommend02"] != blank %}
              <div class="suggest_item">
                <span>{{ product.metafields.custom_fields["recommend02"] }}</span>
              </div>
              {% endif %}
              {% if product.metafields.custom_fields["recommend03"] != blank %}
              <div class="suggest_item">
                <span>{{ product.metafields.custom_fields["recommend03"] }}</span>
              </div>
              {% endif %}
              {% if product.metafields.custom_fields["recommend04"] != blank %}
              <div class="suggest_item">
                <span>{{ product.metafields.custom_fields["recommend04"] }}</span>
              </div>
              {% endif %}
            </div>
            <!-- comp-suggest-list -->
          </div><!-- suggest -->
          {% endif %}
        </div>
        {% endif %}
        {% if product.metafields.custom_fields["product_detail_txt01"] != blank %}
        <div class="detail_in_detail">
          <div class="comp-line-title {{product.type}}">
            <h3 class="title_ja"><span><ls-static-327112>商品情報</ls-static-327112></span></h3>
            <span class="title_en"><ls-static-495769>PRODUCT INFO</ls-static-495769></span>
          </div>
          {{ product.description }}
          {% if product.metafields.custom_fields["product_detail_ttl01"] != blank %}
          <div class="comp-chart-layout">
            <div class="chart_wrap display_chart">
            {% if product.metafields.custom_fields["product_detail_ttl01"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["product_detail_ttl01"] }}</span>
              <span class="content">{{ product.metafields.custom_fields["product_detail_txt01"] }}</span>
            </div>
            {% endif %}
            {% if product.metafields.custom_fields["product_detail_ttl02"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["product_detail_ttl02"] }}</span>
              <span class="content">{{ product.metafields.custom_fields["product_detail_txt02"] }}</span>
            </div>
            {% endif %}
            {% if product.metafields.custom_fields["product_detail_ttl03"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["product_detail_ttl03"] }}</span>
              <span class="content">{{ product.metafields.custom_fields["product_detail_txt03"] }}</span>
            </div>
            {% endif %}
            {% if product.metafields.custom_fields["product_detail_ttl04"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["product_detail_ttl04"] }}</span>
              <span class="content">{{ product.metafields.custom_fields["product_detail_txt04"] }}</span>
            </div>
            {% endif %}
            {% if product.metafields.custom_fields["product_detail_ttl05"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["product_detail_ttl05"] }}</span>
              <span class="content">{{ product.metafields.custom_fields["product_detail_txt05"] }}</span>
            </div>
            {% endif %}
            {% if product.metafields.custom_fields["product_detail_ttl06"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["product_detail_ttl06"] }}</span>
              <span class="content">{{ product.metafields.custom_fields["product_detail_txt06"] }}</span>
            </div>
            {% endif %}
            {% if product.metafields.custom_fields["product_detail_ttl07"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["product_detail_ttl07"] }}</span>
              <span class="content">{{ product.metafields.custom_fields["product_detail_txt07"] }}</span>
            </div>
            {% endif %}
            {% if product.metafields.custom_fields["product_detail_ttl08"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["product_detail_ttl08"] }}</span>
              <span class="content">{{ product.metafields.custom_fields["product_detail_txt08"] }}</span>
            </div>
            {% endif %}
            {% if product.metafields.custom_fields["product_detail_ttl09"] != blank %}
            <div class="chart_item">
              <span class="title">{{ product.metafields.custom_fields["product_detail_ttl09"] }}</span>
              <span class="content">{{ product.metafields.custom_fields["product_detail_txt09"] }}</span>
            </div>
            {% endif %}
            </div>
            <p class="desc">{{ product.metafields.custom_fields["notice_txt"] }}</p>
          </div>
          {% endif %}
        </div>
        {% endif %}
      </div>
      <div id="detailLeft" class="detail_left">
        <div class="comp-line-title {{product.type}}">
          <h3 class="title_ja"><span><ls-static-430348>同じカテゴリの商品</ls-static-430348></span></h3>
          <span class="title_en"><ls-static-924520>RELATED ITEMS</ls-static-924520></span>
        </div>
        <div class="comp-related-item">
        </div><!-- comp-related-item -->
      </div>
    </div>
    <!-- section_inner -->
  </section>
  {% endform %}
  <section id="faqSection" class="section-faq comp-faq-section disnone">
  </section>
  <script type="text/javascript">
    $(function(){
      var domain = window.location.protocol + '//' + window.location.host;
        $.ajax({
          url: domain + '/collections/{{product.metafields.custom_fields["category_slug"]}}',
            cache: false,
            dataType:'html',
            success: function(html){
              var list = $(html).find('#productListWrap').html();
              $('.comp-related-item').append(list);
              var faqSection = $(html).find('#faqSection .section_inner');
              var contentsHeight = $('#detailLeft').find('.comp-related-item').height();
              $('.section-detail').css({'minHeight': contentsHeight + 30 + 'px'});
              $('#faqSection').append(faqSection);
              if(faqSection.text().length > 1){
                $('#faqSection').removeClass('disnone');
              }

              function faqToggle(target) {
                var toggleItem = [];
                var toggleButton = [];
                var toggleContents = [];
                var toggleState = [];

                function toggleMove(e) {
                  var w = $(window).width();
                  var toggleHeight = toggleButton[e].outerHeight();
                  var targetHeight = toggleContents[e].outerHeight();
                  if (toggleState[e] == -1 || toggleState[e] == 0) {
                    toggleButton[e].addClass('active');
                    if (w > 750) {
                      toggleItem[e].css({
                        'height': toggleHeight + targetHeight + 40 + 'px'
                      });
                    } else {
                      toggleItem[e].css({
                        'height': toggleHeight + targetHeight + 30 + 'px'
                      });
                    }
                    toggleState[e] = 1;
                  } else {
                    toggleButton[e].removeClass('active');
                      toggleItem[e].css({
                        'height': toggleHeight + 4 + 'px'
                      });
                    toggleState[e] = 0;
                  }
                }

                function init() {
                  $.each(target.find('.qa_item'), function(index) {
                    toggleItem[index] = $(this);
                    toggleButton[index] = $(this).find('.qa_button');
                    toggleContents[index] = $(this).find('.qa_contents');
                    $(this).css({'height': toggleButton[index].outerHeight() + 4 + 'px'});
                    toggleState[index] = -1;
                    toggleButton[index].on({
                      'click': function() {
                        toggleMove(index);
                      }
                    });
                  });
                }

                init();

              }

                faqToggle($('article'));

            }
        });
    });
  </script>
