{%- capture LS_INPUT -%}<!doctype html>
{% comment ls-rpl %}<html class="no-js" lang="{{ shop.locale }}">{% endcomment %}<html class="no-js" lang="{%- render "ls-language" -%}" dir="{%- render "ls-language-direction" -%}">{% comment /ls-rpl %}{% endcomment %}
<head>
{%- render "ls-head" -%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{% comment ls-rpl %}{{ settings.favicon | img_url: '32x32' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: settings.favicon, img_url: '32x32' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" type="image/png">
  {% endif %}

  {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
  {%- assign formatted_initial_value_stripped = formatted_initial_value | strip_html -%}
  <title>{{ 'gift_cards.issued.title_html' | t: value: formatted_initial_value_stripped, shop: shop.name }}</title>

  <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'gift-card.scss.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer="defer"></script>

  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>

  <script src="{{ 'gift-card.js' | asset_url }}" defer="defer"></script>

  <script>
    var theme = {
      strings: {
        qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }}
      }
    };
  </script>

  {{ content_for_header }}
</head>

<body class="template-giftcard">
  {{ content_for_layout }}
  <ul class="visually-hidden" aria-hidden="true">
    <li id="a11y-new-window-message">{{ 'general.accessibility.link_messages.new_window' | t }}</li>
    <li id="a11y-external-message">{{ 'general.accessibility.link_messages.external' | t }}</li>
    <li id="a11y-new-window-external-message">{{ 'general.accessibility.link_messages.new_window_and_external' | t }}</li>
  </ul>
</body>
</html>
{%- endcapture -%}{%- render "ls-output", input: LS_INPUT -%}