<article id="mypage" class="page-mypage">
	<div class="section_inner">
		<div class="comp-admin-title">
			<h1 class="title_ja">マイページ</h1>
			<span class="title_en">My Page</span>
			<p>
				{{ 'layout.customer.log_out' | t | customer_logout_link }}
			</p>
		</div>
		<div class="order">
			<h2>ご注文履歴</h2>
			<div class="order-list">
				{% paginate customer.orders by 20 %}
				{%- if customer.orders.size != 0 -%}
				{%- for order in customer.orders -%}
				<div class="order-item">
					<div class="order-bar">
						<p>
							ご注文番号<span>{{ order.name }}</span><span>お会計金額：{{ order.total_price | money_without_currency }}円(税込)</span>
						</p>
						<a href="{{ order.customer_url }}" class="circle">
							<div class="circle-inner"></div>
						</a>
					</div>
					<table class="order-condition">
						<tr>
							<td>ご注文日時： {{ order.created_at | time_tag: format: 'basic' }}</td>
							<td>お支払い状況：{{ order.financial_status_label }}</td>
							<td>配送状況：{{ order.fulfillment_status_label }}</td>
						</tr>
					</table>
				</div>
				{%- endfor -%}
				{%- else -%}
				<p>{{ 'customer.orders.none' | t }}</p>
				{%- endif -%}
				{% endpaginate %}
			</div>
		</div>
		<div class="account-info">
			<h2>アカウント情報</h2>
			<p>
				<span>{{ customer.first_name }} {{ customer.last_name }}</span><br>
				〒{{ customer.default_address.zip }}<br>
				{{ customer.default_address.province }} {{ customer.default_address.city }}<br>
				{{ customer.default_address.street }}
			</p>
			<a href="/account/addresses">配送先情報の追加・変更</a>
		</div>
	</div>
</article>

