{%- assign limit = 5 -%}
{%- assign orderSize = customer.orders.size | minus : 1 -%}
{%- assign ordernum = orderSize | divided_by : limit -%}
{%- assign pagenum = ordernum | plus: 1 -%}
{% paginate customer.orders by limit %}
<article id="mypage" class="page-mypage">
	<section class="section-admin">
		<div class="section_inner_new">
			<div class="admin_wrapper">
				<div class="comp-admin-title">
					<hgroup>
						<h1 class="page_ttl en">MYPAGE</h1>
						<span class="page_subttl ja">マイページ</span>
					</hgroup>
					<div class="page_bread">
						<div class="link_wrap">
							<a href="{{ routes.account_logout_url }}">ログアウト</a>
						</div>
					</div>
					{%- if customer.orders.size != 0 -%}
					 <div class="comp-admin-button" style="display: none;">
						<a href="/account?hbSubscriptionPath=/"><span>定期購買商品の変更・設定</span></a>
					</div>
					{%- endif -%}
				</div>
				<div class="admin_flex">
					<div class="admin_left">

					<div class="comp-admin-subttl">
						<h2 class="ttl">ご注文履歴</h2>
					</div>
					{%- if customer.orders.size != 0 -%}
					<div id="orderList" class="comp-order-list">
					{%- for order in customer.orders -%}
						<div class="order_item">
							<a href="{{ order.customer_url }}" class="order_bar">
								<span class="bar_text">
									<span class="title">ご注文番号:</span>
									<span class="order_num">{{ order.name }}</span>
									<span class="price">お会計金額：{{ order.total_price | money_without_currency }}円(税込)</span>
								</span>
								<span class="circle">
									<span class="circle-inner"></span>
								</span>
							</a>
							<div class="order_condition">
								<span class="time">ご注文日時：{{ order.created_at | time_tag: format: 'basic' }}</span>
								<span class="payment">お支払い状況：{{ order.financial_status_label }}</span>
								<span class="condition">配送状況：{{ order.fulfillment_status_label }}</span>
							</div>
						</div><!-- order_item -->
						{%- endfor -%}
					</div><!-- comp-order-list -->
					{%- if pagenum > 1 -%}
					{%- assign next = paginate.current_page | plus: 1 -%}
					{%- assign prev = paginate.current_page | minus: 1 -%}
					<div class="comp-pager">
						<div class="comp_inner">
						{%- if prev > 0 -%}
							<a class="link previous" href="{{ shop.url }}/account?page={{prev}}">前へ</a>
							{%- else -%}
							<a class="link previous disabled" href="{{ shop.url }}/account?page={{prev}}">前へ</a>
						{%- endif -%}
						<select class="pjax-select" name="pager" onchange="location.href=value;">
						{% for i in (1..pagenum) %}
							{%- if i == paginate.current_page -%}
								<option selected="selected" value="{{ shop.url }}/account?page={{i}}">{{i}}/{{pagenum}}</option>
							{%- else -%}
								<option value="{{ shop.url }}/account?page={{i}}">{{i}}/{{pagenum}}</option>
							{%- endif -%}
						{% endfor %}
						</select>
						{%- if paginate.current_page < pagenum -%}
							<a class="link next" href="{{ shop.url }}/account?page={{next}}">次へ</a>
						{%- else -%}
							<a class="link next disabled" href="{{ shop.url }}/account?page={{next}}">次へ</a>
						{%- endif -%}
					</div><!-- comp_inner -->
					</div><!-- comp-pager -->
					{%- endif -%}
					{%- else -%}
					<div class="comp-no-entry">
						<p>お客様のご注文履歴はありません</p>
					 </div>
					{%- endif -%}
					</div><!-- admin_left -->
						<div class="comp-side-wrap" style="background: #f1f1f1">
							<div class="comp-admin-subttl">
								<h2 class="ttl">アカウント情報</h2>
							</div>
							<div class="comp-user-address">
								<div class="address_item">
									<p class="username ">{{ customer.last_name }}{{ customer.first_name }}</p>
									<div class="address">
									<p>{{customer.email}}</p>
									</div>
								</div>
							</div>
							<div class="comp-admin-button mt">
								<a href="{{ routes.account_addresses_url }}" class=" "><span class=" ">住所情報の追加・変更</span></a>
							</div>
						</div>
					</div>
				</div><!-- admin_wrapper -->
			</div><!-- section_inner_new -->
		</section>
	</article>
{% endpaginate %}

{% render 'huckleberry-subscription-customer-portal' %}
<script>
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&' -%}
{%- assign get_query_value_by_key = '' -%}
{%- if pageUrl contains "?" -%}
  {%- assign pageQuerystring = pageUrl | split:'?' | last | replace:'=','&' -%}
  {%- assign tmp = pageQuerystring | split:'&' -%}
  {%- for kv in tmp -%}
      {%- if kv == key -%}
          {%- assign get_query_value_by_key = tmp[forloop.index] -%}
          {%- break -%}
      {%- endif -%}
  {%- endfor -%}
{%- endif -%}
</script>
