<article id="address" class="page-address">
	<div class="section_inner">
		<div class="comp-admin-title inMypage">
			<div class="text_inner">
				<h1 class="title_ja">住所・配送先の情報</h1>
				<span class="title_en">Your Address</span>
			</div>
		</div>
		<div class="comp-admin-bread">
			<div class="bread_wrap">
				{{ 'layout.customer.log_out' | t | customer_logout_link }}
				<a class="bread_item" href="/account">マイページトップ</a>
				<span class="current">住所・配送先情報</span>
			</div><!-- bread_wrap -->
		</div><!-- comp-admin-bread -->
		<div class="comp-flex-wrap reverse">
		<div class="flex_right">
			<div class="comp-account-info">
			<div class="registered_address">
				<button id="AddressNewButton" aria-expanded="true"
				aria-owns="AddressNewForm" class="edit_button" href="/account/addresses">配送先情報を登録</button>
				<script>
					document.getElementById('AddressNewButton').addEventListener('click', function() {
						const newForm = document.getElementById('AddressNewForm');
						newForm.setAttribute("style", "display: block");
						{% for address in customer.addresses %}
						document.getElementById('EditAddress_' + {{ address.id }}).setAttribute("style", "display: none");
						{% endfor %}
					});
				</script>
				<div class="account_item default">
					<h2 class="account_ttl">アカウント情報</h2>
					<div class="description">
						<span>{{ customer.last_name }} 	{{ customer.first_name }}</span>
					</div>
				</div>
				<div class="others">
					{% for address in customer.addresses %}
					{% if address == customer.default_address %}
					<h3 class="account_ttl">デフォルトの連絡先</h3>
					<div class="account_item">
						<div class="description"><span>{{ address.last_name }} {{ address.first_name }}</span>〒{{ address.zip }}<br>{{ address.province }} {{ address.city }}{{ address.street }}</div>
						<div class="btn_wrap">
							<button id="EditFormButton_{{ address.id }}" type="button" class="btn btn_edit" data-form-id="{{ address.id }}" aria-owns="EditAddress_{{ address.id }}" aria-expanded="false"><span>修正</span></button>
							<form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
							>
							<button type="submit" class="btn btn_delete" data-target="{{ address.url }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"><span>削除</span></button>
							</form>
							<script>
								document.getElementById("EditFormButton_" + {{ address.id }}).addEventListener('click', () => {
									const newForm = document.getElementById('AddressNewForm');
									const thisEditForm = document.getElementById('EditAddress_' + {{ address.id }});
									newForm.setAttribute("style", "display: none;");
									newForm.setAttribute("style", "display: none");
									{% for address in customer.addresses %}
									document.getElementById('EditAddress_' + {{ address.id }}).setAttribute("style", "display: none");
									{% endfor %}
									thisEditForm.setAttribute("style", "display: block;");
								});
							</script>
						</div><!-- btn_wrap -->
					</div>
					{% endif %}
					<h3 class="account_ttl">その他の配送先</h3>
					{% if address == customer.default_address %}
					{%- unless address == customer.default_address -%}
					<div class="account_item">
						<div class="description"><span>{{ address.last_name }} {{ address.first_name }}</span>〒{{ address.zip }}<br>{{ address.province }} {{ address.city }}{{ address.street }}</div>
						<div class="btn_wrap">
							<button id="EditFormButton_{{ address.id }}" type="button" class="btn btn_edit" data-form-id="{{ address.id }}" aria-owns="EditAddress_{{ address.id }}" aria-expanded="false"><span>修正</span></button>
							<form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
							>
							<button type="submit" class="btn btn_delete" data-target="{{ address.url }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"><span>削除</span></button>
							</form>
							<script>
								document.getElementById("EditFormButton_" + {{ address.id }}).addEventListener('click', () => {
									const newForm = document.getElementById('AddressNewForm');
									const thisEditForm = document.getElementById('EditAddress_' + {{ address.id }});
									newForm.setAttribute("style", "display: none;");
									newForm.setAttribute("style", "display: none");
									{% for address in customer.addresses %}
									document.getElementById('EditAddress_' + {{ address.id }}).setAttribute("style", "display: none");
									{% endfor %}
									thisEditForm.setAttribute("style", "display: block;");
								});
							</script>
						</div><!-- btn_wrap -->
					</div>
					{%- endunless -%}
					{% endfor %}
				</div>
			</div>
			</div><!-- comp-account-info -->
		</div><!-- flex_right -->
			<div class="flex_left">
				<div id="AddressNewForm" class="comp-form-wrap" style="display: block;">
				{% form 'customer_address', customer.new_address %}
					<h2 class="sub_ttl">新しい住所を登録</h2>
					<div class="form_input">
						<div class="form_item">
							<label class="must">お名前</label>
							<div class="input_wrap_name">
								<div class="input_wrap">
									<input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="姓">
								</div>
								<div class="input_wrap">
									<input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="名">
								</div>
							</div>
						</div>
						<div class="form_item">
							<label class="non-must">会社名</label>
							<div class="input_wrap">
								<input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="株式会社Unsungs&Web">
							</div>
						</div>
						<div class="form_item">
							<label class="must">郵便番号（ハイフンなし）</label>
							<div class="input_wrap">
								<input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="1700005">
							</div>
						</div>
						<div class="form_item">
							<label class="must">住所（市町村）</label>
							<div class="input_wrap">
								<input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="東京都豊島区">
							</div>
						</div>
						<div class="form_item">
							<label class="must">住所（町名・番地）</label>
							<div class="input_wrap">
								<input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1" placeholder="南大塚3－36－7">
							</div>
						</div>
						<div class="form_item">
							<label class="non-must">住所（建物名）</label>
							<div class="input_wrap">
								<input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2" placeholder="南大塚T&Tビル 6F">
							</div>
						</div>
						<div class="form_item">
							<label class="must">電話番号</label>
							<div class="input_wrap">
								<input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone" placeholder="00012345678">
							</div>
						</div>
					</div>
					<div class="form_default_address">
						{{ form.set_as_default_checkbox }}
						<label for="address_default_address_new">デフォルトの配送先として登録する</label>
					</div>
					<div class="comp-submit-button">
						<button><span>配送先情報を登録</span></button>
						<input type="submit" value="配送先情報を登録">
					</div>
				{% endform %}
				</div><!-- comp-form-wrap -->
				{% for address in customer.addresses %}
				<div id="EditAddress_{{ address.id }}" class="comp-form-wrap" style="display: none;">
					{% form 'customer_address', address %}
						<h2 class="sub_ttl">登録済み住所を修正</h2>
						<div class="form_input">
							<div class="form_item hide" style="display:none">
								<label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
								<select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
							</div>
							<div class="form_item hide" id="AddressProvinceContainerNew" style="display:none">
								<label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
								<select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
							</div>
							<div class="form_item">
								<label class="must">お名前</label>
								<div class="input_wrap_name">
									<div class="input_wrap">
										<input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="姓">
									</div>
									<div class="input_wrap">
										<input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="名">
									</div>
								</div>
							</div>
							<div class="form_item">
								<label class="non-must">会社名</label>
								<div class="input_wrap">
									<input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="株式会社Unsungs&Web">
								</div>
							</div>
							<div class="form_item">
								<label class="must">郵便番号（ハイフンなし）</label>
								<div class="input_wrap">
									<input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="1700005">
								</div>
							</div>
							<div class="form_item">
								<label class="must">住所（市町村）</label>
								<div class="input_wrap">
									<input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="東京都豊島区">
								</div>
							</div>
							<div class="form_item">
								<label class="must">住所（町名・番地）</label>
								<div class="input_wrap">
									<input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1" placeholder="南大塚3－36－7">
								</div>
							</div>
							<div class="form_item">
								<label class="non-must">住所（建物名）</label>
								<div class="input_wrap">
									<input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2" placeholder="南大塚T&Tビル 6F">
								</div>
							</div>
							<div class="form_item">
								<label class="must">電話番号</label>
								<div class="input_wrap">
									<input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone" placeholder="00012345678">
								</div>
							</div>
						</div>
						<div class="form_default_address">
							{{ form.set_as_default_checkbox }}
							<label for="address_default_address_{{ address.id }}">デフォルトの配送先として登録する</label>
						</div>
						<div class="comp-submit-button">
							<button><span>配送先情報を登録</span></button>
							<input type="submit" value="配送先情報を登録">
						</div>
					{% endform %}
				</div>
				{% endfor %}
			</div><!-- flex_left -->
		</div><!-- comp-flex-wrap -->
	</div><!-- section_inner -->
</article>
<script>
	$('body').addClass('fixed');
</script>
<script>
document.querySelectorAll('.address-delete-form').forEach(deleteForm => {
  deleteForm.addEventListener('submit', event => {
    const confirmMessage = event.target.getAttribute('data-confirm-message');

    if (!window.confirm('住所情報を削除しますか？')){
      event.preventDefault();
    }

  });
});
</script>
