{%- assign itemTitle = item.title | split : "-" -%}
{%- assign indexNum = 0 | plus : 1 -%}
{%- assign productId = item.url | split : "?" -%}
{%- assign productURL = productId[0] | split : "/" -%}
{% for collection in collections %}
{%- if collection.handle == "ajax" -%}
{% for ajax in collection.products %}
  {%- assign indexNum = indexNum | plus : 1 -%}
  {%- if ajax.handle == productURL[2] -%}
    {%- assign category = ajax.metafields.custom_fields["prod_category"] -%}
    {%- assign prodName = ajax.metafields["custom_fields"]["prod_display_name"] -%}
  {%- endif -%}
{% endfor %}
{%- endif -%}
{% endfor %}

{%- if prodName == blank -%}
{%- assign category = 'ギフトセット' -%}
{%- endif -%}

{%- assign variant_options = 'template ' | split: ' ' -%}
{%- if item.product.has_only_default_variant != true -%}
  {%- assign variant_options = item.options_with_values -%}
{%- endif -%}
{%- assign property_size = item.properties | size -%}


<div class="cart_item" data-cart-item data-cart-item-key="{{ item.key }}" data-cart-item-url="{{ item.url }}" data-cart-item-title="{{ item.title }}" data-cart-item-index="{{ forloop.index }}" data-cart-item-quantity="{{ item.quantity }}">
  <div class="img_wrap">
    <a href="{{ productId[0] }}">{{ item.image.src | image_url: width: 300 | image_tag }}</a>
  </div>
  <div class="txt_wrap">
    <div class="txt_inner">
      <div class="item_info">
        <span class="category"><span class="ja">{{ category }}</span></span>
        <a class="links" href="{{ productId[0] }}">{%- if prodName != blank -%}{{ prodName }}{%- else -%}<span class="name">{{ itemTitle[0] }}</span>{%- endif -%}{%- for option in variant_options -%}<span class="options genre {% if item.product.has_only_default_variant %} hide{% endif %}" optionName="{{ option.value }}">{{ option.value }}</span>{%- endfor -%}{% if item.selling_plan_allocation %}<span class="options genre">{{ item.selling_plan_allocation.selling_plan.name }}</span>
        {% endif %}</a>
        <span class="price">{{ item.price | money_without_currency }}円(税込)</span></a>
      </div>
      <div class="controll_wrap">
      {%- if request.page_type contains "customers" -%}
      <div class="fixed_lot">
        <span class="number">{{ item.quantity }}点</span>
      </div>
      {%- else -%}
        <div class="order_lot">
          <button class="order_button minus">-</button>
          <input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
          <button class="order_button plus">+</button>
          <button class="reload_button"></button>
        </div>
          <a class="cancel_button" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="text-link text-link--accent" aria-label="{{ 'cart.label.remove' | t: product: item.title }}" data-cart-remove data-role="product-remove">削除</a>
      {%- endif -%}
      </div>
    </div><!-- txt_inner -->
    {%- assign totalPrice = item.price | times : item.quantity -%}
    <div class="amount_price">¥{{ totalPrice | money_without_currency }}</div>
  </div><!-- txt_wrap -->
</div><!-- cart_item -->
