{% comment %}
    Renders a pagination bar

    Accepts:
    - paginate: {Object} Paginate Liquid object (required)
    Usage:
    {% render 'pager', paginate: paginate %}
{% endcomment %}
{%- if paginate.previous.is_link -%}
  {%- assign prev_page = paginate.current_page | minus: 1 -%}
  {%- assign prev_page_query = '?page=' | append: prev_page -%}
  {%- assign current_path = paginate.previous.url | replace: prev_page_query, '' -%}
{%- elsif paginate.next.is_link -%}
  {%- assign next_page = paginate.current_page | plus: 1 -%}
  {%- assign next_page_query = '?page=' | append: next_page -%}
  {%- assign current_path = paginate.next.url | replace: next_page_query, '' -%}
{%- endif -%}
{%- if current_path -%}
<div class="comp-blogs-pager">
  <div class="comp_inner">
  {%- if paginate.previous.is_link -%}
    <a class="link previous" href="{{ paginate.previous.url }}"><span>前へ</span></a>
  {%- else -%}
    <a class="link previous disabled" style="pointer-events: none; opacity: 0.3;"><span>前へ</span></a>
  {%- endif -%}
    <div class="pager_select">
      <select class="pager_select_box" name="pager" onchange="location.href=value;">
        {% for i in (1..paginate.pages) %}
          {%- if i == paginate.current_page -%}
            <option selected value="{{ current_path }}?page={{ i }}">{{ i }} / {{paginate.pages}}</option>
          {%- else -%}
            <option value="{{ current_path }}?page={{ i }}">{{ i }}</option>
          {%- endif -%}
        {% endfor %}
      </select>
      <div class="pager_select_label">
        <span class="label_text">{{ paginate.current_page }}<span class="label_divider">/</span>{{ paginate.pages }}</span>
        <span class="label_arrow"></span>
      </div>
    </div>
    {%- if paginate.next.is_link -%}
      <a class="link next" href="{{ paginate.next.url }}"><span>次へ</span></a>
    {%- else -%}
      <a class="link next disabled" style="pointer-events: none; opacity: 0.3;"><span>次へ</span></a>
    {%- endif -%}
  </div>
</div>
{%- endif -%}
