<article id="account" class="page-account">
  <section class="section-account comp-underpage-section account-register">
    <div class="section_inner">
    <div class="comp-section-title center">
      <span class="title_en"><ls-static-722414>CREATE ACCOUNT</ls-static-722414></span>
      <h1 class="title_ja"><ls-static-830935>アカウントの作成</ls-static-830935></h1>
    </div>
      <div class="comp-account-form">
      {%- assign formId = 'RegisterForm' -%}
      {% form 'create_customer', id: formId, novalidate: 'novalidate', class: 'form-status' %}
      {% if form.posted_successfully? %}
        <script>
        window.location = "https://halsports.myshopify.com/pages/thankyou";
        </script>
        {%- else -%}
        {% include 'form-status', form: form, form_id: formId %}
          <div class="form_item">
            <div class="label_wrap">
            <label for="{{ formId }}-FirstName">姓</label>
            </div>
            <div class="input_wrap">
              <input type="text" name="customer[first_name]" id="{{ formId }}-FirstName" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocomplete="given-name">
            </div>
          </div><!-- form_item -->
          <div class="form_item">
            <div class="label_wrap">
              <label for="{{ formId }}-FirstName">{{ 'customer.register.first_name' | t }}</label>
            </div>
            <div class="input_wrap">
              <input type="text" name="customer[last_name]" id="RegisterForm-LastName" autocomplete="family-name">
            </div>
          </div>
          <div class="form_item">
            <div class="label_wrap">
              <label for="{{ formId }}-email">{{ 'customer.register.email' | t }}</label>
            </div>
            <div class="input_wrap">
            <input
              type="email"
              name="customer[email]"
              id="{{ formId }}-email"
              class="{% if form.errors contains 'email' %} input--error{% endif %}"
              {% if form.email %} value="{{ form.email }}"{% endif %}
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              aria-required="true"
              {%- if form.errors contains 'email' -%}
                class="input--error"
                aria-invalid="true"
                aria-describedby="{{ formId }}-email-error"
              {%- endif -%}
            >
            {%- if form.errors contains 'email' -%}
              <span id="{{ formId }}-email-error" class="input-error-message">
                <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
                {% include 'icon-error' %}
                <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
              </span>
            {%- endif -%}
            </div>
          </div>
          <div class="form_item border_none">
            <div class="label_wrap">
              <label for="{{ formId }}-password">{{ 'customer.register.password' | t }}</label>
            </div>
            <div class="input_wrap">
            <input
              type="password"
              name="customer[password]"
              id="{{ formId }}-password"
              class="{% if form.errors contains 'password' %} input--error{% endif %}"
              aria-required="true"
              {%- if form.errors contains 'password' -%}
                class="input--error"
                aria-invalid="true"
                aria-describedby="{{ formId }}-password-error"
              {%- endif -%}
            >
            {%- if form.errors contains 'password' -%}
              <span id="{{ formId}}-password-error" class="input-error-message">
                {% include 'icon-error' %}
                <span>{{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.</span>
              </span>
            {%- endif -%}
            </div>
          </div>
          <div class="submit_wrap">
            <div class="comp-submit-button size form able">
              <button><span id="formMessage"><ls-static-256081>アカウントの作成</ls-static-256081></span></button>
              <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn">
            </div>
          </div>
          <p class="agreement">
            <span><ls-static-899826>氏名及びメールアドレスの送信によって</ls-static-899826></span><a href="/pages/privacypolicy"><ls-static-922977>プライバシーポリシー</ls-static-922977></a><span></a><ls-static-816593>に同意したものとみなします。</ls-static-816593></p>
            {% endif %}
          {% endform %}
      </div>
    </div><!-- section_inner -->
  </section><!-- section-account -->
</article>
