{%- assign addressNum = 0 -%}
{% for address in customer.addresses %}
{%- unless address == customer.default_address -%}
{%- assign addressNum = addressNum | plus: 1 -%}
{%- endunless -%}
{% endfor %}

<div class="wrapper_inner">
	<div class="content_unit">
		<div class="comp-admin-subttl">
			<h2 class="ttl">デフォルトの配送先</h2>
		</div>
		<div class="comp-address-list">
			{%- if customer.default_address.last_name != blank -%}
				{% for address in customer.addresses %}
				{%- if address == customer.default_address -%}
				<div class="address_item">
				<div class="userinfo">
					<p class="username">{{ address.last_name }}{{ address.first_name }}</p>
					<div class="address">
						{%- if address.zip != blank -%}
						<p><span>〒{{ address.zip }}</span><span>{{ address.province }}{{ address.city }}</span><span>{{ address.street }}</span></p>
						{%- else -%}
						<p>住所未登録</p>
						{%- endif -%}
					</div>
				</div>
				<div class="btn_wrap">
					<div class="edit_wrap">
						<button type="button" class="btn btn_edit" formId="wrapperEdit-{{ address.id }}" ><span>修正</span></button>
					</div>
					<form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
						<button type="submit" class="btn btn_delete" data-target="{{ address.url }}"><span>削除</span></button>
						<input type="hidden" name="_method" value="delete" />
					</form>
				</div>
				</div><!-- address_item -->
				{%- endif -%}
				{% endfor %}
				{%- else -%}
					<p>住所情報未登録</p>
				{%- endif -%}
		</div><!-- comp-address-list -->
	</div><!-- content_unit -->
	<div class="content_unit">
		<div class="comp-admin-subttl">
			<h2 class="ttl">その他の住所情報</h2>
		</div>
		<div class="comp-address-list">
			{%- if addressNum > 0 -%}
			{% for address in customer.addresses %}
			{%- unless address == customer.default_address -%}
			<div class="address_item">
				<div class="userinfo">
					<p class="username">{{ address.last_name }}{{ address.first_name }}</p>
					<div class="address">
						{%- if address.zip != blank -%}
						<p><span>〒{{ address.zip }}</span><span>{{ address.province }}{{ address.city }}</span><span>{{ address.street }}</span></p>
						{%- else -%}
						<p>住所未登録</p>
						{%- endif -%}
					</div>
				</div>
				<div class="btn_wrap">
					<div class="edit_wrap">
						<button type="button" class="btn btn_edit" formId="wrapperEdit-{{ address.id }}" ><span>修正</span></button>
					</div>
					<form class="address-delete-form" method="post" action="/account/addresses/{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
						<button type="submit" class="btn btn_delete" data-target="{{ address.url }}"><span>削除</span></button>
						<input type="hidden" name="_method" value="delete" />
					</form>
				</div>
			</div><!-- address_item -->
			{%- endunless -%}
			{% endfor %}
			{%- else -%}
				<p>住所情報未登録</p>
			{%- endif -%}
		</div><!-- comp-address-list -->
	</div>
</div><!-- wrapper_inner -->
