{%- assign selected1 = "" -%}
{%- assign selected2 = "" -%}
{%- assign selected3 = "" -%}
{%- assign selected4 = "" -%}
{%- assign selected5 = "" -%}
{%- if collection.handle == "all-products" -%}
  {%- assign selected1 = "selected" -%}
{%- elsif collection.handle == "bottle" -%}
  {%- assign selected2 = "selected" -%}
{%- elsif collection.handle == "refill" -%}
  {%- assign selected3 = "selected" -%}
{%- elsif collection.handle == "bottle-and-refill" -%}
  {%- assign selected4 = "selected" -%}
{%- elsif collection.handle == "upcoming" -%}
  {%- assign selected5 = "selected" -%}
{%- endif -%}
<select name="cat" id="cat-shopify" class="postform" onChange="location.href=value;">
  <option class="option-1" value="/collections/all-products" {{ selected1 }}>全ての商品</option>
  <option class="option-1" value="/collections/bottle" {{ selected2 }} >ボトル商品</option>
  <option class="option-1" value="/collections/refill" {{ selected3 }}>レフィル商品</option>
  <option class="option-1" value="/collections/bottle-and-refill" {{ selected4 }} >ボトル＆レフィル</option>
  <option class="option-1" value="/collections/upcoming" {{ selected5 }} >Upcoming商品</option>
</select>
