{%- assign thumb_image = product.media[0] -%}
{%- if product.handle != 'ks005' and product.handle != 'k0045' -%}
	<div class="list_item" price="{{ product.price | money_without_currency }}" category="{{ product.metafields["custom_fields"]["gift_category"] }}">
		{%- if product.variants.first.inventory_quantity == 0 or product.metafields.custom_fields["stock_state"] == 1 -%}
		<a class="item_thumb soldout" href="{{ product.url }}">{{ product.media[0] | image_url: width: 520 | image_tag }}</a>
		{%- else -%}
		<a class="item_thumb" href="{{ product.url }}">
			<img loading="lazy" src="{{ thumb_image | image_url: width: 533 }}" srcset="{{ thumb_image | image_url: width: 533 }} 1440w, {{ thumb_image | image_url: width: 360 }} 768w, {{ thumb_image | image_url: width: 533 }} 2048w">
		</a>
		{%- endif -%}
	<div class="txt_wrap">
		<a class="name" href="{{ product.url }}">{{ product.metafields.custom_fields["prod_display_name"] }}</a>
		{% if product.metafields["custom_fields"]["normal_price"] == blank %}
			<span class="price">{{ product.price | money_without_currency }}円(税込)</span>
		{%- else -%}
		<span class="price_flex">
			<span class="price_strike">{{ product.metafields["custom_fields"]["normal_price"] }}円</span>
			<span class="arrow">→</span>
			<span class="price">{{ product.price | money_without_currency }}円(税込)</span>
		</span>
		<span class="sale_tag">{{ product.metafields["custom_fields"]["discout_rate"] }}OFF</span>
	</span>
    {%- endif -%}
	</div>
	<p class="product_desc">
		<span class="product_type">{{product.metafields.custom_fields["category_display_name"]}}</span>
	</p>
	<div class="content_icon">
		{% for tag in product.tags %}
		<div class="icon">
			<span class="{{ tag }}"></span>
		</div>
		{% endfor %}
	</div>
	<div class="detail_button">
		<a class="gift_detail_button" href="{{ product.url }}">
			<span>詳細を見る</span>
		</a>
	</div>
</div>
{%- endif -%}
