	<div class="list_item" price="{{ product.price | money_without_currency }}" recommend="2">
		{%- if product.variants.first.inventory_quantity == 0 or product.metafields.custom_fields["stock_state"] == 1 -%}
		<a class="item_thumb soldout" href="{{ product.url }}">{{ product.media[0] | image_url: width: 520 | image_tag }}</a>
		{%- else -%}
		<a class="item_thumb" href="{{ product.url }}">
			{{ product.media[0] | image_url: width: 520 | image_tag }}
		</a>
		{%- endif -%}
	<div class="txt_wrap">
		<a class="name" href="{{ product.url }}">{{ product.metafields.custom_fields["prod_display_name"] }}</a>
		<span class="price">{{ product.price | money_without_currency }}円(税込)</span>
	</div>
	<p class="product_desc">
		<span class="product_type">{{product.metafields.custom_fields["category_display_name"]}}</span>
	</p>
	<div class="content_icon">
		{% for tag in product.tags %}
		{%- if tag != 'nerori' -%}
		<div class="icon">
			<span class="{{ tag }}"></span>
		</div>
		{%- endif -%}
		{% endfor %}
	</div>
	<div class="detail_button">
		<a class="gift_detail_button" href="{{ product.url }}">
			<span>詳細を見る</span>
		</a>
	</div>
</div>
