<div class="list_item" price="{{ product_child.price | money_without_currency }}" recommend="2">
	{%- if product_child.variants.first.inventory_quantity == 0 -%}
	<a class="item_thumb soldout" href="{{ product_child.url }}">
		<span class="img_wrap img_warp-{{ product_child.id }}">
	</a>
	{%- else -%}
	<a class="item_thumb" href="{{ product_child.url }}">
		<span class="img_wrap img_warp-{{ product_child.id }}">
	</a>
	{%- endif -%}
	<style>
		.img_warp-{{ product_child.id }} {
			background-image: url({{ product_child.featured_image | img_url: 'master' }})
		}
	</style>
	{%- assign product_title = product_child.title -%}
	{%- if product_title == '【ギフト】2020 AW "クロモジ"/ Free as a Bird(Mini)' -%}
		{%- assign product_title = '【ギフト】2020 AW "クロモジ"/ Free...' -%}
	{%- endif -%}
	<div class="txt_wrap">
		<a class="name small" href="{{ product_child.url }}">{{ product_title }}<span>{{ product_child.price | money_without_currency }}円(税込)</span></a>
	</div>
	<p class="product_desc"><span class="product_type" recommend="9">・マルチクリーナー<br>・除菌消臭ミスト(Mini)</span></p>
	<div class="content_icon">
		{% for tag in product_child.tags %}
		<div class="icon">
			<span class="{{ tag }}"></span>
		</div>
		{% endfor %}
	</div>
	<div class="comp-list-cart-button related wide">
		<a class="gift_detail_button" href="{{ product_child.url }}">
			<span>詳細を見る</span>
		</a>
	</div>
</div>
