<div class="post_item">
  <div class="item_img">
    <a href="{{ article.url }}">
      {{ article.image | image_url: width: 600 | image_tag }}
    </a>
  </div>
  <div class="item_content">
    <a class="item_title" href="{{ article.url }}">{{ article.title }}</a>
    <ul class="item_tags">
      {% for tag in article.tags %}
        <li>{{ tag | link_to_tag: tag }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
