{% assign variation_num = 0 | plus: 0 %}

{% for tag in product.tags %}
  {% for collection in collections %}
    {%- if collection.handle == tag -%}
      {% for item in collection.metafields.custom_fields["variations"] %}
        {% if item["variation_name"] != blank %}
          {% assign variation_num = variation_num | plus: 1 %}
        {%- endif -%}
      {% endfor %}
    {%- endif -%}
  {% endfor %}
{% endfor %}

{% if variation_num > 0 %}
<div class="comp-variation-select" num="{{ variation_num }}">
  <span class="label">バリエーション</span>
  <select name="variation_select" onchange="location.href=value;">
    {% for tag in product.tags %}
      {% for collection in collections %}
        {%- if collection.handle == tag -%}
          {% for item in collection.metafields.custom_fields["variations"] %}
          {%- if item["variation_id"] != product.handle -%}
          <option value="/products/{{item["variation_id"]}}">{{ item["variation_name"] }}{% if item["variation_ml"] != blank %}({{ item["variation_ml"] }}){%- endif -%}</option>
          {%- else -%}
          <option selected value="/products/{{item["variation_id"]}}">{{ item["variation_name"] }}{% if item["variation_ml"] != blank %}({{ item["variation_ml"] }}){%- endif -%}</option>
          {%- endif -%}
      {% endfor %}
      {%- endif -%}
    {% endfor %}
  {% endfor %}
  </select>
</div>
{% endif %}
