<div class="comp-cart-wrap">
{%- if product.type != "upcoming" -%}
  <div class="order_lot">
    <span class="title">数量</span>
    <div id="quantityWrap" class="input_wrap number">
      <button id="minusButton" class="minus">-</button>
      <input id="quantityInput" type="text" class="product_init_num" name="quantity" min="1" value="1">
      <button id="plusButton" class="plus">+</button>
    </div>
  </div><!-- order_lot -->
{%- endif -%}
  <div class="submit_button">
    <div class="cart_box">
    {%- if product.type == "gift" and product.handle != "k0026" and product.handle != "k0050" and product.handle != 'k0057' -%}
      <div id="optionSelect" class="cart_item">
        <span class="button_wrap">
          <span class="title cart_in">オプションを選択して購入</span>
          <span class="sub_text">5,500円以上(税込)お買い上げで送料無料</span>
        </span>
        <input type="hidden" name="properties[カテゴリー]" value="">
      </div><!-- cart_item -->
    {%- else -%}
    {%- if product.type != "upcoming" -%}
    <div id="optionSelect" class="cart_item">
      <span class="button_wrap">
        <span class="title cart_in">カートに入れる</span>
        <span class="sub_text">5,500円以上(税込)お買い上げで送料無料</span>
      </span>
      <input type="hidden" name="properties[カテゴリー]" value="">
    </div><!-- cart_item -->
    {%- else -%}
    <div class="comp-waiting-button">
       <a href="https://journal.komons-japan.com/waiting-list/uc0002">
         <span class="title">Waiting Listに登録</span>
         <span class="desc">発売時にメールにてお知らせいたします</span>
       </a>
     </div><!-- waiting-button -->
    {%- endif -%}
    {%- endif -%}
    </div>
    {%- if product.type != 'gift' -%}
    <div class="comp-variation">
      <div class="variation_wrap">
      {% unless product.tags contains 'nerori' %}
      {% for tag in product.tags %}
        {% for collection in collections %}
          {%- if collection.handle == tag -%}
          {% for item in collection.metafields.custom_fields["variations"] %}
            {%- if item["variation_id"] != product.handle -%}
              <a href="/products/{{item["variation_id"]}}">
                <span class="title">{{ item["variation_name"] }}({{ item["variation_ml"] }})はこちら</span>
                <span class="desc"> {{ item["variation_price"] }}円(税込)</span>
              </a>
            {%- endif -%}
          {% endfor %}
          {%- endif -%}
        {% endfor %}
      {% endfor %}
      {%- else -%}
      {% for collection in collections %}
        {%- if collection.handle == 'nerori' -%}
        {% for item in collection.metafields.custom_fields["variations"] %}
          {%- if item["variation_id"] != product.handle -%}
            <a href="/products/{{item["variation_id"]}}">
              <span class="title">{{ item["variation_name"] }}({{ item["variation_ml"] }})はこちら</span>
              <span class="desc"> {{ item["variation_price"] }}円(税込)</span>
            </a>
          {%- endif -%}
        {% endfor %}
        {%- endif -%}
      {% endfor %}
      {%- endunless -%}
      </div><!-- variation_wrap -->
    </div><!-- comp-variation -->
    {%- endif -%}
    <div id="cartNoteList" class="cart_note">
      {%- if product.type == "gift" -%}
      <button prop="#toggleGift">ギフトサービス</button>
      {%- endif -%}
      <button prop="#toggleDelivary">配送について</button>
      <button prop="#togglePayment">お支払い方法</button>
    </div><!-- cart_note -->
  </div><!-- comp-flex-cart -->
</div><!-- submit_wrap -->
