{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

<article id="itemDetail" class="dishwash">
{%- if product.type == "upcoming" -%}
{% section 'product-template-upcoming' %}
{%- else -%}
{% section 'product-template' %}
{% section 'product-recommendations' %}
{%- endif -%}
{% section 'journal-list' %}
{% section 'section-back' %}
</article>
{% section 'fixed-cart-wrap' %}

{%- if product.type == "gift" and product.handle != "k0026" and product.handle != "k0050" and product.handle != 'k0057' -%}
{% section 'gift-option-field' %}
{%- endif -%}




{% if collection %}
  <div class="text-center return-link-wrapper page-width">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  "image": {{ product.media[2] | img_url: 'master' | json }},
  "description": {{ product.metafields.custom_fields["product_outline"] | strip_html | json }},
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
      {
        "@type" : "Offer",
        "sku": {{ product.handle | json }},
        "description": {{ product.metafields.custom_fields["product_outline"] | strip_html | json }},
        "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ product.price | remove:',' | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "priceValidUntil": "2024-12-31",
        "itemCondition": "NewCondition",
        "url" : "https://komons-japan.com/products/{{ product.handle }}"
      }
  ]
}
</script>
