{% for address in customer.addresses %}
  <div id="wrapperEdit-{{ address.id }}" class="content_wrapper" style="display: none;">
  <div class="wrapper_inner">
    <div class="comp-admin-subttl">
      <h2 class="ttl">住所情報の変更</h2>
    </div>
    <div class="comp-admin-form">
      {% form 'customer_address', address %}
      <div class="form_item column2">
        <div class="flex_box">
          <label>お名前(姓)</label>
          <div class="form_wrap">
            <input type="text" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="山田" class="admin">
          </div>
        </div>
        <div class="flex_box">
          <label>お名前(名)</label>
          <div class="form_wrap">
            <input type="text" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="太郎" class="admin">
          </div>
        </div>
      </div>
      <div class="form_item" style="display: none;">
  			<label>住所(国)</label>
  			<div class="form_wrap">
  			<select id="AddressCountryNew" name="address[country]" data-default="{{ form.country }}" autocomplete="country"class="admin"
  			>
  				<option value="Japan" data-provinces="[[&quot;Aichi&quot;,&quot;愛知県&quot;],[&quot;Akita&quot;,&quot;秋田県&quot;],[&quot;Aomori&quot;,&quot;青森県&quot;],[&quot;Chiba&quot;,&quot;千葉県&quot;],[&quot;Ehime&quot;,&quot;愛媛県&quot;],[&quot;Fukui&quot;,&quot;福井県&quot;],[&quot;Fukuoka&quot;,&quot;福岡県&quot;],[&quot;Fukushima&quot;,&quot;福島県&quot;],[&quot;Gifu&quot;,&quot;岐阜県&quot;],[&quot;Gunma&quot;,&quot;群馬県&quot;],[&quot;Hiroshima&quot;,&quot;広島県&quot;],[&quot;Hokkaidō&quot;,&quot;北海道&quot;],[&quot;Hyōgo&quot;,&quot;兵庫県&quot;],[&quot;Ibaraki&quot;,&quot;茨城県&quot;],[&quot;Ishikawa&quot;,&quot;石川県&quot;],[&quot;Iwate&quot;,&quot;岩手県&quot;],[&quot;Kagawa&quot;,&quot;香川県&quot;],[&quot;Kagoshima&quot;,&quot;鹿児島県&quot;],[&quot;Kanagawa&quot;,&quot;神奈川県&quot;],[&quot;Kumamoto&quot;,&quot;熊本県&quot;],[&quot;Kyōto&quot;,&quot;京都府&quot;],[&quot;Kōchi&quot;,&quot;高知県&quot;],[&quot;Mie&quot;,&quot;三重県&quot;],[&quot;Miyagi&quot;,&quot;宮城県&quot;],[&quot;Miyazaki&quot;,&quot;宮崎県&quot;],[&quot;Nagano&quot;,&quot;長野県&quot;],[&quot;Nagasaki&quot;,&quot;長崎県&quot;],[&quot;Nara&quot;,&quot;奈良県&quot;],[&quot;Niigata&quot;,&quot;新潟県&quot;],[&quot;Okayama&quot;,&quot;岡山県&quot;],[&quot;Okinawa&quot;,&quot;沖縄県&quot;],[&quot;Saga&quot;,&quot;佐賀県&quot;],[&quot;Saitama&quot;,&quot;埼玉県&quot;],[&quot;Shiga&quot;,&quot;滋賀県&quot;],[&quot;Shimane&quot;,&quot;島根県&quot;],[&quot;Shizuoka&quot;,&quot;静岡県&quot;],[&quot;Tochigi&quot;,&quot;栃木県&quot;],[&quot;Tokushima&quot;,&quot;徳島県&quot;],[&quot;Tottori&quot;,&quot;鳥取県&quot;],[&quot;Toyama&quot;,&quot;富山県&quot;],[&quot;Tōkyō&quot;,&quot;東京都&quot;],[&quot;Wakayama&quot;,&quot;和歌山県&quot;],[&quot;Yamagata&quot;,&quot;山形県&quot;],[&quot;Yamaguchi&quot;,&quot;山口県&quot;],[&quot;Yamanashi&quot;,&quot;山梨県&quot;],[&quot;Ōita&quot;,&quot;大分県&quot;],[&quot;Ōsaka&quot;,&quot;大阪府&quot;]]">日本</option>
  			</select>
  			</div>
  		</div>
      <div class="form_item">
        <label>郵便番号</label>
        <div class="form_wrap">
          <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="170-0005" class="admin">
        </div>
      </div>
      <div class="form_item">
        <label>住所(都道府県)</label>
        <div class="form_wrap">
        <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1" class="admin">
          {% include 'prefs' %}
        </select>
        </div>
      </div>
      <div class="form_item">
        <label>住所(市区町村)</label>
        <div class="form_wrap">
          <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="豊島区" class="admin">
        </div>
      </div>
      <div class="form_item">
        <label>住所(町名・番地・建物名)</label>
        <div class="form_wrap">
          <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1" placeholder="南大塚3-36-7 南大塚T&Tビル 6F" class="admin">
        </div>
      </div>
      <div class="form_item">
        <label>電話番号</label>
        <div class="form_wrap">
          <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone" placeholder="03-1234-5678" class="admin">
        </div>
      </div>
      <div class="form_item">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="address_default_address_new" name="address[default]" value="1">
            <span class="radio_checker"></span>
            <span class="name">購入者情報として登録する</span>
          </label>
        </div>
      </div>
      <div id="submitButton" class="comp-admin-button">
        <input type="submit" class="btn" value="住所情報を登録">
      </div>
      {% endform %}
    </div><!-- comp-admin-form -->
  </div>
  </div>
{% endfor %}
