<section class="section-header">
  <div class="journal_thumb">
    {{ article.image | image_url: width: 1400 | image_tag }}
  </div>
  <div class="post_head">
    {% if article.metafields["custom_fields"]["article_en"] != blank %}
    <div class="post_date"><span>{{ article.metafields["custom_fields"]["article_en"] }}</span></div>
    {% else %}
    <div class="post_date"><span>{{ article.published_at | date: "%Y.%m.%d" }}</span></div>
    {% endif %}
    <h1 class="post_title">{{ article.title }}</h1>
    <ul class="post_tags">
      {% for tag in article.tags %}
        <li>{{ tag | link_to_tag: tag }}</li>
      {% endfor %}
    </ul>
  </div>
</section>
<section class="section-contents">
  <div class="comp-article-contents">
    {% for item in article.metafields["custom_fields"]["article_contents"] %}
    <div class="contents_item">
      {% if item["article_img"] != blank %}
      <div class="img_wrap">
        {{ item["article_img"] }}
      </div>
      {% endif %}
      {% if item["article_ttl"] != blank %}
      <h2 class="article_ttl">{{ item["article_ttl"] }}</h2>
      {% endif %}
      {% if item["article_desc"] != blank %}
      <div class="content_description">
        {{ item["article_desc"] }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div><!-- comp-article-contents -->
  {% if article.metafields["custom_fields"]["link_url"] != blank %}
  <div class="comp-box-button">
    <a class="button" href="{{ article.metafields["custom_fields"]["link_url"] }}">
      <span class="txt">{{ article.metafields["custom_fields"]["link_txt"] }}</span>
      <span class="arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
          <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
        </svg>
      </span>
    </a>
  </div>
  {% endif %}
  <div class="post_share">
    <div class="post_share_ttl">この記事をシェアする</div>
    <ul>
      <li><a href="https://twitter.com/share?url=https://komons-japan.com/{{ article.url }}&text={{ article.title }}" target="_blank"><img src="https://journal.komons-japan.com/wp-content/themes/komons-theme/img/journal/share_twitter.png" alt="twitter"></a></li>
      <li><a href="http://www.facebook.com/share.php?u=https://komons-japan.com/{{ article.url }}" rel="nofollow" target="_blank"><img src="https://journal.komons-japan.com/wp-content/themes/komons-theme/img/journal/share_facebook.png"
            alt="facebook"></a></li>
    </ul>
  </div>
</section>
