{%- assign limit = 16 -%}

{% paginate collection.products by limit %}

{%- assign product_1st = collection.products[0] -%}

<section class="section-basic-item {{collection.handle}}">
<div class="section_inner_new">
  <div class="comp-new-section-ttl">
    <hgroup>
      <span class="title_en">{{ collection.title }}</span>
      <h1 class="title_jp">{{ collection.metafields.custom_fields["collection_title_ja"] }}</h1>
    </hgroup>
    <div class="ttl_desc">
      <p>{{ collection.description }}</p>
    </div>
  </div>
<div id="productList" class="comp-product-block">
  <ul class="item_wrapper">
  {% paginate collection.products by 20 %}
  {%- assign num = 0 -%}
  {%- for product in collection.products -%}
  {%- unless product.type == "gift" or product.type == "mini-gift" or product.type == "outlet" -%}
    {%- include 'all-item-card' -%}
  {%- endunless -%}
  {%- endfor -%}
  {% endpaginate %}
  </ul>
</div>
<!-- comp-item-group -->

</div>
</section>


{%- assign giftLength = 0 | plus: 0 -%}

{%- for product in collection.products -%}
{% if product.type == "gift" or product_child.type == "mini-gift"  %}
  {%- assign giftLength = giftLength | plus: 1 -%}
{% endif %}
{%- endfor -%}

{% if giftLength != 0 %}
<section class="section-set-product">
  <div class="section_inner_new">
    <div class="comp-new-section-ttl">
      <hgroup>
        <span class="title_en">Gift Set</span>
        <h2 class="title_jp">ギフトセット</h2>
      </hgroup>
      <div class="ttl_desc">
        <p>{{ collection.metafields.custom_fields["collection_title_ja"] }}を含むギフトセット</p>
      </div>
    </div>
    <div id="giftProductList" class="comp-gift-product-list">
      {%- paginate collection.products by 20 -%}
      {%- for product in collection.products -%}
      {% if product.type == "gift" or product_child.type == "mini-gift"  %}
      {% include 'gift-item-card' %}
      {% endif %}
      {%- endfor -%}
      {%- endpaginate -%}
    </div>
  </div>
</section>
{% endif %}
{% endpaginate %}
