{%- assign limit = 16 -%}

{% paginate collection.products by limit %}

{%- assign product_1st = collection.products[0] -%}

<section class="section-basic-item {{collection.handle}}">
<div class="section_inner">
  <div class="section_ttl">
  <h1><span>{{ collection.title }}</span><font>{{ collection.metafields.custom_fields["collection_title_ja"] }}</font></h1>
</div>
<div class="comp-item-group">
  <div class="item_list large">
    <div class="img_wrap">
      <a href="{{ product_1st.url }}" class="img_link_1st"></a>
      <style>
        .img_link_1st {
          background-image: url({{ product_1st.media[1] | img_url: 'master'}});
        }
      </style>
    </div>
    <div class="txt_wrap">
      <a class="prod_name" href="{{ product_1st.url }}">
        <span class="ja">{{ collection.metafields.custom_fields["collection_title_ja"] }}</span>
        <span class="en">{{ product_1st.title }}</span>
      </a>
      <span class="price">{{ product_1st.metafields.custom_fields["weight"] }} / {{ product_1st.price | money_without_currency }}円(税込)</span>
      <div class="button_wrap">
        <a href="{{ product_1st.url }}"><span>詳細を見る</span></a>
        <div class="comp-list-cart-button">
          <div class="cartjs_box">
            {% form 'product', product_1st, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            <select name="id" id="ProductSelect-{{ product_1st.id }}" class="product-form__variants no-js" style="display: none;">
              {% for variant in product_1st.variants %}
                <option value="{{ variant.id }}"
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}
                >
                  {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>
            <div class="cartin_button">
              <button><span>カートに入れる</span></button>
              <input id="cartSubmit-{{ product_1st.id }}" type="submit" value="カートに入れる">
            </div>
            {% endform %}
          </div>
        </div>
      </div>
      <div class="description">
        {{ product_1st.metafields.custom_fields["product_outline"] }}
      </div>
    </div>
  </div>
  <!-- item_list -->
  {% paginate collection.products by 20 %}
  {%- assign num = 0 -%}
  {%- for product in collection.products -%}
  {%- unless product.type == "gift" or product == product_1st -%}
    {%- assign num = num | plus:1 -%}
    {%- assign num = num | modulo:2 -%}
    {%- if num == 1 -%}
      {%- assign left_or_right = "left" -%}
    {%- else -%}
      {%- assign left_or_right = "right" -%}
    {%- endif -%}
  <div class="item_list {{ left_or_right }} num{{num}}">
    <div class="img_wrap">
      <a href="{{ product.url }}" class="img_link_{{ product.id }}"></a>
      <style>
        .img_link_{{ product.id }} {
          background-image: url({{ product.media[2] | img_url: 'master'}});
        }
      </style>
    </div>
    <div class="txt_wrap">
      <a class="prod_name" href="{{ product.url }}">
        <span class="ja">{{ collection.metafields.custom_fields["collection_title_ja"] }}</span>
        <span class="en">
          {{ product.metafields.custom_fields["product_name"] }}
        </span>
      </a>
      <span class="price">{{ product.metafields.custom_fields["weight"] }} / {{ product.price | money_without_currency }}円(税込)</span>
      <div class="button_wrap">
        <a href="{{ product.url }}"><span>詳細を見る</span></a>
        <div class="comp-list-cart-button">
          <div class="cartjs_box">
            {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
            <select name="id" id="ProductSelect-{{ product.id }}" class="product-form__variants no-js" style="display: none;">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}"
                  {%- if variant == current_variant %} selected="selected" {%- endif -%}
                >
                  {{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                </option>
              {% endfor %}
            </select>
            <div class="cartin_button">
              <button><span>カートに入れる</span></button>
              <input id="cartSubmit-{{ product.id }}" type="submit" value="カートに入れる">
            </div>
            {% endform %}
          </div>
        </div>
      </div>
      <div class="description">
        {{ product.metafields.custom_fields["product_outline"] }}
      </div>
    </div>
  </div>
  {%- endunless -%}
  {%- endfor -%}
  {% endpaginate %}
</div>
<!-- comp-item-group -->

</div>
</section>
<section class="section-set-product">
<div class="section_inner">
  <div class="section_ttl">
    <h2><span>Gift Set</span><font>食器用洗剤を含むギフトセット</font></h2>
  </div>
  <div id="giftProductList" class="comp-gift-product-list">
    {%- paginate collection.products by 20 -%}
    {%- for product_child in collection.products -%}
    {% if product_child.type == "gift" or product_child.type == "mini-gift"  %}
		{% include 'gift-list' %}
    {% endif %}
    {%- endfor -%}
    {%- endpaginate -%}
  </div>
</div>
</section>

<script>
$('body').addClass('fixed');
</script>

{% endpaginate %}



{% schema %}
{
"name": {
  "cs": "Stránky s kolekcemi",
  "da": "Kollektionssider",
  "de": "Kategorie-Seiten",
  "en": "Collection pages",
  "es": "Páginas de colección",
  "fi": "Kokoelman sivut",
  "fr": "Pages de collections",
  "it": "Pagine di collezioni",
  "ja": "コレクションページ",
  "ko": "컬렉션 페이지",
  "nb": "Samlingssider",
  "nl": "Collectiepagina's",
  "pl": "Strony kolekcji",
  "pt-BR": "Páginas de coleções",
  "pt-PT": "Páginas de coleções",
  "sv": "Produktseriesidor",
  "th": "หน้าคอลเลกชัน",
  "tr": "Koleksiyon sayfaları",
  "vi": "Trang bộ sưu tập",
  "zh-CN": "产品系列页面",
  "zh-TW": "商品系列頁面"
},
"settings": [
  {
    "type": "select",
    "id": "layout",
    "label": {
      "cs": "Rozvržení",
      "da": "Layout",
      "de": "Layout",
      "en": "Layout",
      "es": "Diseño",
      "fi": "Asettelu",
      "fr": "Mise en page",
      "it": "Layout",
      "ja": "レイアウト",
      "ko": "레이아웃",
      "nb": "Oppsett",
      "nl": "Opmaak",
      "pl": "Układ",
      "pt-BR": "Layout",
      "pt-PT": "Esquema",
      "sv": "Layout",
      "th": "เลย์เอาต์",
      "tr": "Düzen",
      "vi": "Bố cục",
      "zh-CN": "布局",
      "zh-TW": "版面配置"
    },
    "default": "grid",
    "options": [
      {
        "value": "grid",
        "label": {
          "cs": "Mřížka",
          "da": "Gitter",
          "de": "Raster",
          "en": "Grid",
          "es": "Cuadrícula",
          "fi": "Ruudukko",
          "fr": "Grille",
          "it": "Griglia",
          "ja": "グリッド",
          "ko": "그리드",
          "nb": "Rutenett",
          "nl": "Raster",
          "pl": "Siatka",
          "pt-BR": "Grade",
          "pt-PT": "Grelha",
          "sv": "Rutnät",
          "th": "กริด",
          "tr": "Izgara",
          "vi": "Lưới",
          "zh-CN": "网格",
          "zh-TW": "網格"
        }
      },
      {
        "value": "list",
        "label": {
          "cs": "Seznam",
          "da": "Liste",
          "de": "Liste",
          "en": "List",
          "es": "Lista",
          "fi": "Luettelo",
          "fr": "Liste",
          "it": "Elenco",
          "ja": "リスト",
          "ko": "목록",
          "nb": "Liste",
          "nl": "Lijst",
          "pl": "Lista",
          "pt-BR": "Lista",
          "pt-PT": "Lista",
          "sv": "Lista",
          "th": "รายการ",
          "tr": "Liste",
          "vi": "Danh sách",
          "zh-CN": "列表",
          "zh-TW": "清單"
        }
      }
    ]
  },
  {
    "type": "range",
    "id": "grid",
    "label": {
      "cs": "Počet produktů na řádek (jen mřížka)",
      "da": "Produkter pr. række (kun gitter)",
      "de": "Produkte per Reihe (nur Raster)",
      "en": "Products per row (grid only)",
      "es": "Productos por fila (solo cuadrícula)",
      "fi": "Tuotteita per rivi (vain ruudukko)",
      "fr": "Produits par rangée (grille uniquement)",
      "it": "Prodotti per riga (solo griglia)",
      "ja": "行あたりの商品数（グリッドのみ）",
      "ko": "열 별 제품 (그리드 전용)",
      "nb": "Produkter per rad (kun rutenett)",
      "nl": "Producten per rij (alleen raster)",
      "pl": "Liczba produktów na wiersz (tylko siatka)",
      "pt-BR": "Produtos por linha (somente grade)",
      "pt-PT": "Produtos por linha (somente grelha)",
      "sv": "Produkter per rad (endast rutnät)",
      "th": "สินค้าต่อแถว (กริดเท่านั้น)",
      "tr": "Satır başına ürün (yalnızca ızgara)",
      "vi": "Số sản phẩm trên một hàng (chỉ ở kiểu lưới)",
      "zh-CN": "每行产品数（仅限网格）",
      "zh-TW": "每列產品數 (僅限網格)"
    },
    "default": 4,
    "min": 2,
    "max": 5,
    "step": 1
  },
  {
    "type": "range",
    "id": "rows",
    "label": {
      "cs": "Počet řádků na stránku (jen mřížka)",
      "da": "Rækker pr. side (kun gitter)",
      "de": "Reihen per Seite (nur Raster)",
      "en": "Rows per page (grid only)",
      "es": "Filas por página (solo cuadrícula)",
      "fi": "Rivejä per sivu (vain ruudukko)",
      "fr": "Rangées par page (grille uniquement)",
      "it": "Righe per pagina (solo griglia)",
      "ja": "ページあたりの行数（グリッドのみ）",
      "ko": "페이지 별 열 (그리드 전용)",
      "nb": "Rader per side (kun rutenett)",
      "nl": "Rijen per pagina (alleen raster)",
      "pl": "Liczba wierszy na stronę (tylko siatka)",
      "pt-BR": "Linhas por página (somente grade)",
      "pt-PT": "Linhas por página (somente grelha)",
      "sv": "Rader per sida (endast rutnät)",
      "th": "แถวต่อหน้า (กริดเท่านั้น)",
      "tr": "Sayfa başına satır (yalnızca ızgara)",
      "vi": "Số hàng trong một trang (chỉ ở kiểu lưới)",
      "zh-CN": "每行产品数（仅限网格）",
      "zh-TW": "每頁列數 (僅限網格)"
    },
    "default": 2,
    "min": 2,
    "max": 8,
    "step": 1
  },
  {
    "type": "checkbox",
    "id": "show_collection_image",
    "label": {
      "cs": "Zobrazit obrázek kolekce",
      "da": "Vis kollektionsbillede",
      "de": "Kategorie-Foto anzeigen",
      "en": "Show collection image",
      "es": "Mostrar imagen de la colección",
      "fi": "Näytä kokoelman kuva",
      "fr": "Afficher l'image de la collection",
      "it": "Mostra immagine collezione",
      "ja": "コレクションの画像を表示する",
      "ko": "컬렉션 이미지 표시",
      "nb": "Vis samlingsbilde",
      "nl": "Collectieafbeelding weergeven",
      "pl": "Pokaż obraz kolekcji",
      "pt-BR": "Exibir imagem da coleção",
      "pt-PT": "Mostrar imagem da coleção",
      "sv": "Visa produktseriebilder",
      "th": "แสดงรูปภาพคอลเลกชัน",
      "tr": "Koleksiyon görselini göster",
      "vi": "Hiển thị hình ảnh bộ sưu tập",
      "zh-CN": "显示产品系列图片",
      "zh-TW": "顯示商品系列圖片"
    },
    "default": true
  },
  {
    "type": "checkbox",
    "id": "show_vendor",
    "label": {
      "cs": "Zobrazit dodavatele produktů",
      "da": "Vis produktleverandører",
      "de": "Produktanbieter anzeigen",
      "en": "Show product vendors",
      "es": "Mostrar proveedores del producto",
      "fi": "Näytä tuotteen myyjät",
      "fr": "Afficher les vendeurs",
      "it": "Mostra fornitori prodotto",
      "ja": "商品の販売元を表示する",
      "ko": "제품 공급 업체 표시",
      "nb": "Vis produktleverandører",
      "nl": "Productleveranciers weergeven",
      "pl": "Pokaż dostawców produktu",
      "pt-BR": "Exibir fornecedores do produto",
      "pt-PT": "Mostrar fornecedores do produto",
      "sv": "Visa produktleverantörer",
      "th": "แสดงผู้ขายสินค้า",
      "tr": "Ürün satıcılarını göster",
      "vi": "Hiển thị nhà cung cấp sản phẩm",
      "zh-CN": "显示产品厂商",
      "zh-TW": "顯示產品廠商"
    },
    "default": false
  },
  {
    "type": "checkbox",
    "id": "sort_enable",
    "label": {
      "cs": "Povolit řazení",
      "da": "Aktivér sortering",
      "de": "Sortieren erlauben",
      "en": "Enable sorting",
      "es": "Habilitar la función ordenar",
      "fi": "Ota lajittelu käyttöön",
      "fr": "Activer le tri",
      "it": "Permetti di ordinare",
      "ja": "並べ替えを有効にする",
      "ko": "정렬 사용",
      "nb": "Aktiver sortering",
      "nl": "Sortering inschakelen",
      "pl": "Włącz sortowanie",
      "pt-BR": "Habilitar organização",
      "pt-PT": "Ativar ordenação",
      "sv": "Aktivera sortering",
      "th": "เปิดใช้การจัดเรียง",
      "tr": "Sıralamayı etkinleştir",
      "vi": "Bật phân loại",
      "zh-CN": "启用排序",
      "zh-TW": "啟用排序"
    },
    "default": true
  },
  {
    "type": "checkbox",
    "id": "tags_enable",
    "label": {
      "cs": "Povolit filtrování podle štítku",
      "da": "Aktivér tagfiltrering",
      "de": "Tag-Filtern erlauben",
      "en": "Enable tag filtering",
      "es": "Habilitar filtro de etiquetas",
      "fi": "Ota tunnisteiden suodatus käyttöön",
      "fr": "Activer le filtrage par balises",
      "it": "Attiva filtro tag",
      "ja": "タグでの絞り込みを有効にする",
      "ko": "태그 필터링 사용",
      "nb": "Aktiver taggfiltrering",
      "nl": "Filteren op tags inschakelen",
      "pl": "Włącz filtrowanie tagów",
      "pt-BR": "Habilitar filtragem de tags",
      "pt-PT": "Ativar filtragem por etiqueta",
      "sv": "Aktivera taggfiltrering",
      "th": "เปิดใช้การกรองแท็ก",
      "tr": "Etiket filtrelemeyi etkinleştir",
      "vi": "Bật lọc thẻ",
      "zh-CN": "启用标签筛选",
      "zh-TW": "啟用標籤篩選功能"
    },
    "default": true
  }
]
}
{% endschema %}
