
<section class="section-gift">
  <div class="section_inner_new">
    <div class="gift_flex">
      <div class="comp-new-section-ttl flex">
        <hgroup>
          <span class="title_en">Gift Set</span>
          <h2 class="title_jp indent">ギフトセット</h2>
          <div class="ttl_desc">
            <p>すべてのセットはギフトボックス付き。<br>熨斗やメッセージカードなどのギフトサービスも承ります。</p>
          </div>
        </hgroup>
        <div class="comp-box-button">
          <a class="button" href="/collections/gift">
            <span class="txt">ギフト商品一覧</span>
            <span class="arrow">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.46 10.07">
                <polygon class="cls-1" points="0 8.66 1.41 10.07 6.46 5.03 1.41 0 0 1.41 3.62 5.04 0 8.66"></polygon>
              </svg>
            </span>
          </a>
        </div>
      </div><!-- comp-new-section-ttl -->
      <div class="comp-index-gift-slider">
        <div id="giftSlider" class="slick-slider">
				{% for collection in collections %}
				{%- if collection.handle == "pickup-gift" -%}
				{% for product in collection.products %}
				{%- assign thumb_image = product.media[0] -%}
				<div class="item_box slick-slide">
					<div class="list_item">
						<a class="item_thumb" href="{{ product.url }}">
							<img loading="lazy" src="{{ thumb_image | image_url: width: 533 }}" srcset="{{ thumb_image | image_url: width: 533 }} 1440w, {{ thumb_image | image_url: width: 360 }} 768w, {{ thumb_image | image_url: width: 533 }} 2048w">
						</a>
						<div class="txt_wrap">
							<a class="name" href="{{ product.url }}">{{ product.metafields.custom_fields["prod_display_name"] }}</a>
							<span class="price">{{ product.price | money_without_currency }}円(税込)</span>
						</div>
						<p class="product_desc">
							<span class="product_type">{{product.metafields.custom_fields["category_display_name"]}}</span>
						</p>
						<div class="content_icon">
							{% for tag in product.tags %}
							<div class="icon">
								<span class="{{ tag }}"></span>
							</div>
							{% endfor %}
						</div>
						<div class="comp-arrow-link">
							<a class="link_button" href="{{ product.url }}">
								<span>詳細を見る</span>
							</a>
						</div>
					</div>
				</div><!-- item_box -->
				{% endfor %}
				{%- endif -%}
				{% endfor %}
        </div><!-- slick-slider -->
      </div><!-- comp-index-gift-slider -->
    </div><!-- gift_flex -->
  </div><!-- section_inner -->
</section>
