{%- if product.metafields.custom_fields["related_item01"] != blank %}
<section id="relation" class="related_item item_detail">
  <div class="detail_ttl">
    <h3>
      <span class="en_ttl">Related Items</span
      ><span class="jp_ttl">よく一緒に購入されている商品</span>
    </h3>
  </div>
  <div id="productList" class="comp-related-product comp-product-list">
    <div id="relatedSlider" class="item_wrapper">
    </div><!-- component-related-product -->
  </div>
</section>
{%- endif -%}

<script>
	var domain = 'https://' + location.host;
	console.log(domain + '/collections/ajax');
	if (document.getElementById('variationToggle')) {
		var varitationItem = [
			'{{ product.metafields.custom_fields["variation_bottle"] }}', '{{product.metafields.custom_fields["variation_refill"]}}', '{{ product.metafields.custom_fields["variation_bottle_refill"] }}'
		]
	}

	var relatedItem = [
		'{{product.metafields.custom_fields["related_item01"] }}',
		'{{ product.metafields.custom_fields["related_item02"] }}',
		'{{ product.metafields.custom_fields["related_item03"] }}'
	];

	function relatedSlider(){
		$('#relatedSlider').slick({
		accessibility: false,
		infinite: false,
		dots: true,
		slidesToShow: 3,
		centerMode: true,
		autoplay: false,
		responsive: [{
			breakpoint: 750,
			settings: {
				slidesToShow: 1,
				centerPadding: '5%',
				centerMode: false,
				}
			}]
		});
	}
	$.ajax({
		url: domain + '/collections/ajax',
		cache: false,
		dataType: 'html',
		success: function(html) {
				console.log('success!');
				var product_num = 40; //抜き出したい商品の数
				var prop = [];
				var content = [];
				var priceDisplay = [];
				var relatedContents;
				$.each($(html).find('.item_box'), function(index) {
					prop[index] = $(this).attr('id');
					content[index] = $(this);
					priceDisplay[index] = $(this).find('.product_detail').html();
          {%- if product.metafields.custom_fields["variation_bottle"] != blank %}
          if(prop[index] == varitationItem[0]){
            $('#bottlePrice').html(priceDisplay[index]);
          }
          {%- endif -%}
          {%- if product.metafields.custom_fields["variation_refill"] != blank %}
          if(prop[index] == varitationItem[1] ){
            $('#refillPrice').html(priceDisplay[index])
          }
          {%- endif -%}
          {%- if product.metafields.custom_fields["variation_refill"] != blank %}
          if(prop[index] == varitationItem[2] ){
            $('#bottleRefillPrice').html(priceDisplay[index])
          }
          {%- endif -%}
					if (prop[index] == relatedItem[0] || prop[index] == relatedItem[1] || prop[index] == relatedItem[2]) {
					console.log('content:' + content[index].html());
					$('#relatedSlider .slick-list .slick-track').append(content[index]);
					};
				});
				if (document.getElementById('relatedSlider')) {
					console.log('slick!')
					relatedSlider();
				}
		}
	});
</script>
