<section id="relation" class="related_item item_detail">
  <div class="section_inner">
  <div class="detail_ttl">
    <h3>
      <span class="en_ttl">Related Items</span
      ><span class="jp_ttl">よく一緒に購入されている商品</span>
    </h3>
  </div>
  <div id="upsellSection" class="comp-upsell product_page">
    <div id='rk-widget-201820' class='rk-similar_products'></div>
  </div>
  <!-- <div id="productList" class="comp-related-product comp-product-list"><div id="relatedSlider" class="item_wrapper"></div>--><!-- component-related-product -->
  </div>
  </div><!-- section_inner -->
</section>

<script>
  var domain = 'https://' + location.host;
  var upSellState = $('#upsellSection').text().length;
  var linkURL = [];
  var targetDom = [];
  var setCategory = 0;
  function ajaxLoad(){
    var upsellSection = $('#upsellSection');
    upsellSection.find(".rktheme-grid-item").each(function(index) {
      linkURL[index] = $(this).find('.rktheme-product-image-wrap').attr('href').split("products/").slice(-1)[0];
      targetDom[index] = $(this).find('.rktheme-product-details');

      console.log(index + ':' + linkURL[index]);
    });
    if (document.getElementById('variationToggle')) {
      var varitationItem = [
        '{{ product.metafields.custom_fields["variation_bottle"] }}', '{{product.metafields.custom_fields["variation_refill"]}}', '{{ product.metafields.custom_fields["variation_bottle_refill"] }}', '{{product.metafields.custom_fields["variation_mini"]}}', '{{product.metafields.custom_fields["variation_mini_gift"]}}'
      ]
    }
    $.ajax({
      url: domain + '/collections/ajax',
      cache: false,
      dataType: 'html',
      success: function(html) {
          console.log('success!');
          var product_num = 40; //抜き出したい商品の数
          var prop = [];
          var content = [];
          var category = [];
          var priceDisplay = [];
          var relatedContents;
          $.each($(html).find('.item_box'), function(index) {
            prop[index] = $(this).attr('id');
            content[index] = $(this);
            category[index] = $(this).find('.cat_ttl .ja');
            priceDisplay[index] = $(this).find('.product_detail').html();
            {%- if product.metafields.custom_fields["variation_bottle"] != blank %}
            if(prop[index] == varitationItem[0]){
              $('#bottlePrice').html(priceDisplay[index]);
            }
            {%- endif -%}
            {%- if product.metafields.custom_fields["variation_refill"] != blank %}
            if(prop[index] == varitationItem[1] ){
              $('#refillPrice').html(priceDisplay[index])
            }
            {%- endif -%}
            {%- if product.metafields.custom_fields["variation_refill"] != blank %}
            if(prop[index] == varitationItem[2] ){
              $('#bottleRefillPrice').html(priceDisplay[index])
            }
            {%- endif -%}
            {%- if product.metafields.custom_fields["variation_mini"] != blank %}
            if(prop[index] == varitationItem[3] ){
              $('#miniPrice').html(priceDisplay[index])
            }
            {%- endif -%}
            {%- if product.metafields.custom_fields["variation_mini_gift"] != blank %}
            if(prop[index] == varitationItem[4] ){
              $('#miniGiftPrice').html(priceDisplay[index])
            }
            {%- endif -%}
            if (prop[index] == linkURL[0]){
              targetDom[0].prepend(category[index]);
            };
            if (prop[index] == linkURL[1]){
              targetDom[1].prepend(category[index]);
            };
            if (prop[index] == linkURL[2]){
              targetDom[2].prepend(category[index]);
            };
            if (prop[index] == linkURL[3]){
              targetDom[3].prepend(category[index]);
            };
          });
          if (document.getElementById('relatedSlider')) {
            console.log('slick!')
            relatedSlider();
          }
      }
    });
  }

  setInterval(function(){
    var upSellStateNew = $('#upsellSection').text().length;
    if(upSellState != upSellStateNew && setCategory == 0){
      console.log('update!');
      ajaxLoad();
      setCategory = 1;
    }
  },2000);

</script>
