<div id="optionPop" class="comp-gift-option-pop">
  <div id="popBg" class="pop_bg"></div>
	{% form 'product', product, class:form_classes, id:hoge, novalidate: 'novalidate', data-product-form: '' %}
  <div class="pop_flex">
    <div class="height_adjust"></div>
    <div class="pop_contents">
      <div id="popClose" class="pop_close"></div>
      <div class="contents_inner">
        <div class="item_thumb">
          <span class="pc_thumb item-main-thumb"><img src="{{ product.media[1] | img_url: 'master' }}"></span>
        </div>
          <p class="prod_name">{{ product.metafields.custom_fields["product_name"] }}</p>
					<div id="cycleList" class="comp-subscription-plans">
						<div class="price_wrap">
							<span class="price">{{ product.price | money_without_currency }}円</span>
							<span class="added">(税込・15%OFF・送料無料)</span></span>
						</div>
            <p class="pop_title">下記より定期購入サイクルを<span>お選びください</span></p>
            <div id="subscriptionTable" class="comp-subscription-table" style="">
            {% render 'paywhirl-plan-selector', product: product %}
            </div>
        	</div>
      </div>
			<select name="id" id="ProductSelect-{{ section.id }}" class="giftOptionFields" style="display: none;">
				{% for variant in product.variants %}
					<option value="{{ variant.id }}" id ="0-{{ forloop.index }}"
						{%- if variant == current_variant %} selected="selected" {%- endif -%}
					>
						{{ variant.title }}  {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
					</option>
				{% endfor %}
			</select>
      <div class="fix_wrapper">
        <div class="option_fix">
          <button id="optionFix" class="option_fix_button" href="javascript:void(0);"><span>購入する</span></button>
          <input class="product_cart_btn product_addcart_btn" type="submit" value="カートに入れる">
        </div>
      </div>
    </div>
  </div><!-- pop_flex -->
	{% endform %}
</div><!-- comp-gift-option-pop -->
